In [9]:
import pandas as pd
import a_momentum as a_m
import imp
imp.reload(a_m)

In [10]:
df = pd.read_csv("../csv/GLD.csv")
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-11-18  44.430000  44.490002  44.070000  44.380001  44.380001   5992000
1  2004-11-19  44.490002  44.919998  44.470001  44.779999  44.779999  11655300
2  2004-11-22  44.750000  44.970001  44.740002  44.950001  44.950001  11996000
3  2004-11-23  44.880001  44.919998  44.720001  44.750000  44.750000   3169200
4  2004-11-24  44.930000  45.049999  44.790001  45.049999  45.049999   6105100

In [11]:
mod_df = a_m.A_Momentum(df, "Adj Close")
## mod_df -> module안에 Class에서 self
## df -> __init__함수에 있는 df라는 매개변수에 들어갈 인자 값
## 'Adj Close' -> __init__ 함수에서 col이라는 매개변수에 들어갈 인자 값

In [ ]:
mod_df.month_list
## 클래스 안에 있는 변수를 호출하는 방법
## 클래스를 생성한 변수명.클래스안에있는변수명

In [ ]:
mod_df.create_df()
## 클래스 안에 있는 함수를 호출

In [ ]:
mod_df.add_trade()

In [ ]:
mod_df.returns()