### 변수
뭔가 데이터를 저장하는 공간의 이름
- 변수를 선언할때는 변수명 = 변수에 들어갈 값
- 데이터 타입 여러가지 
- python 외의 대부분 프로그래밍 언어들은 변수를 지정할때 데이터 타입 적어준다. 
- python의 경우에는 데이터 타입을 지정하지 않는다.

In [1]:
## 데이터의 타입들은 python에서 알아서 지정
a =  "test"
b = 1234
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

In [2]:
a = "test"
print(a)
a = 1234
print(a)

test
1234

## 연산자
일반적으로 사칙연산 
- +: 더하기
- -: 빼기
- *: 곱하기
- /: 나누기
- //: 몫
- %: 나머지

In [3]:
x = 10
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y)

13 7 30 3.3333333333333335 3 1

In [4]:
## 대입 연산자
## +=, -=, *=, /=, //=, %=
## a += b -> a = a + b
x += y
print(x)

13

### 비교 연산자
두개의 값을 비교하여 참/거짓의 형태로 출력
- 주로 사용이 되는 곳은 조건문, 반복문에서 사용된다.

In [5]:
print(x == y) #x와 y가 같다.
print(x != y) #x와 y가 같지 않다.

## > , < ,  >= , <=

False
True

- and : 두 가지의 값이 참이면 참 그 외에는 거짓의 형태로 출력 (&)
- or : 두 가지의 값 중에 하나라도 참이면 참을 출력 (|)
- not : 참은 거짓으로 거짓은 참으로 출력 (~, !)

### 조건문 (if문)
1. 조건에 맞춰서 컴퓨터에게 지시의 내리기위한 기본적인 방법
2. 조건식이 참인 경우에 실행 할 코드를 작성 
3. 조건식이 거짓인 경우에 실행 할 코드를 작성 
4. 실행할 코드들은 python에서는 들여쓰기를 이용하여 표시

In [14]:
a = 10

if a > 5:
    print("a는 5보다 크다")
else :
    print("a는 5보다 작거나 같다.")

a는 5보다 크다

### 연습문제 
1. int(input()) 함수를 이용해서 유저에게서 입력 값을 받아오는 변수
2. 유저가 입력한 데이터가 90 이상이면 'A'출력
3. 80이상이면 'B' 출력
4. 70이상이면 'C' 출력
5. 그 외의에는 'F' 출력

In [17]:
score = int(input("점수를 입력하시오 : "))
result = ""

if score >= 90:
    # print("A")
    result = "A"
elif score >= 80:
    # print("B")
    result = "B"
elif score >= 70:
    # print("C")
    result = "C"
else :
    # print("F")
    result = "F"

print(result)

C

### 반복문
1. for문
- for 변수명 in list형태의 데이터(range(시작값, 종료값, 증가값))
2. while문
- 초기값을 지정
- while 조건식
- while문의 조건식이 참인 경우에 초기값을 증가 시켜서 조건식이 거짓이 될때까지 반복

In [20]:
for i in range(1, 10, 1):
    print(i, end=" , ")

1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ,

In [21]:
list = ["A", "B", "C", "D"]
for i in list:
    print(i, end= " , ")

A , B , C , D ,

In [22]:
##1부터 10까지의 합을 구하라

# for문

sum = 0 
for i in range(1, 11, 1):
    sum += i
print(sum)

55

In [24]:
# while문
i = 1
sum = 0

while i <= 10:
    sum += i
    i += 1

print(sum)

65

In [27]:
## while문을 이용해서 list 형태의 데이터의 값을 하나씩 출력을 하는 방법

list = ["A", "B", "C", "D"]

i = 0
cnt = len(list) # 4

while i < cnt:
    print(list[i])
    i += 1

A
B
C
D

1. continue
- 반복문으로 돌아간다. 
- continue에서는 밑에 남아있는 코드를 실행시키지 않고 반복문으로 돌아간다.  
2. break
- 반복문을 종료한다.

In [28]:
for i in range(1, 100, 1):
    if i < 10:
        continue
    elif i > 15:
        break
    
    print(i, end=" , ")

10 , 11 , 12 , 13 , 14 , 15 ,

In [29]:
## 반복문을 이용해서 1-100까지 반복
## 25부터 45까지의 합계를 출력

# case 1
sum = 0

for i in range(100):
    if i <= 24:
        continue
    elif i > 45:
        break
    sum += i
print(sum)

735

In [33]:
# while 문
i = 1 
sum = 0

while i < 100:
    if i < 25:
        i += 1
        continue
    elif i > 45:
        break
    sum += i
    i += 1
print(sum)

735

In [34]:
sum = 0
for i in range(1, 100, 1):
    if i >=25 and i <= 45:
        sum += i
    elif i > 45:
        break
print(sum)

735

### 함수
1. 변수는 데이터의값을 가진 데이터의 공간
2. 함수는 데이터의 값이 아니라 입력받은 데이터를 가지고 뭔가 행동을 하여 결과값을 돌려주는 코드
3. def 함수명 (매개변수)
4. 함수를 호출할때는  함수명( 인자 )
5. 일반적으로는 매개변수의 개수와 인자의 개수가 동일해야 한다.

In [35]:
## 매개변수가 존재하지 않는 함수
def func_1():
    return "Hello World"

print(func_1())

Hello World

In [39]:
## 매개변수가 존재하는 함수
def func_2(x, y):
    if type(x) == int and type(y) == int:
        result = x ** y
    else : 
        result = "입력 받은 값의 타입이 숫자형이 아닙니다."
    return result

print(func_2(5,4))
print(func_2("A", "B"))

625
입력 받은 값의 타입이 숫자형이 아닙니다.

In [41]:
## 매개변수에 기본값이 존재하는 경우
def func_3(x, y = 4):
    result = x + y
    return result

print(func_3(5))

9

In [47]:
def func_4(x = 3, y = 2, z = 5):
    result = (x + y) * z
    return result

print(func_4())
print(func_4(3,2,3))
print(func_4(z = 3))
print(func_4(3, 4, 2)) 
print(func_4(z = 2, y = 4))

25
15
15
14
14

## 연습문제
1. 함수를 생성
2. 매개변수 3개 x, y, z
3. z의 타입은 bool의 형태
4. z가 True면 x + y 리턴
5. z가 False면 x - y 리턴
6. z의 타입이 bool의 형태가 아니면 'z의 타입은 bool의 형태여야 합니다' 리턴

In [48]:
def func_5(x, y, z):
    if type(z) == bool:
        if z == True:
            result = x + y
        else :
            result = x - y
    else : 
        result = "z의 타입은 bool의 형태여야 합니다."
    
    return result

print(func_5(1,4, True))
print(func_5(1,4, False))
print(func_5(1, 4, 1))

5
-3
z의 타입은 bool의 형태여야 합니다.

### Class
1. 변수, 함수의 집합체
2. Class 보통 이름을 대문자로 시작해서 생성
3. self라는 매개변수 -> 자기 자신을 뜻 -> Class가 저장되어 있는 공간
4. '__init__' 함수 -> Class가 생성이 될때 단 한번만 실행이 되는 함수
5. '__init__' 함수는 필요 시에만 작성

In [49]:
## Class 선언
class Class_1():
    def __init__(self):
        self.result = "Class 생성되었습니다."

    def output(self):
        return self.result

In [50]:
## Class 생성
class_a = Class_1()
print(class_a.output())

Class 생성되었습니다.

In [51]:
# 변수와 함수가 존재하는 클래스 선언
class Class_2():
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def output(self):
        self.result = self.x + self.y
        return self.result

In [52]:
## class_2 생성
class_b = Class_2(5, 4)
class_c = Class_2(10, 3)

print(class_b.output())
print(class_c.output())

9
13

### 연습문제
1. Class 선언
2. init 함수에는 self를 제외한 2개의 매개변수 x, y
3. init 함수를 제외한 2개의 함수를 생성
4. 1번 함수에서는 x와 y의 곱을 리턴
5. 2번 함수에서는 x와 y의 나누셈을 리턴

In [53]:
class Class_3():
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def func_1(self):
        return self.x * self.y
    def func_2(self):
        return self.x / self.y

In [55]:
class_d = Class_3(6, 2)

print(class_d.func_1())
print(class_d.func_2())

12
3.0

### 외부의 라이브러리를 사용하는 방법
1. 라이브러리 설치 (pip install 라이브러리명)
2. 라이브러리 로드 ( import 라이브러리명 as 별칭 )

In [ ]:
# 라이브러리 설치
!pip install pandas

In [56]:
# 라이브러리 로드 
import pandas as pd

### 파일의 경로
1. 절대 경로
- 절대적인 위치
- 누구나 같은 위치로 이동할 수 있는 위치
- 예 : url, c:/users/moon/....
2. 상대 경로
- 상대적인 위치
- 현재 작업 중인 디렉토리에서 상위나 하위 아니면 현재 디렉토리 안에 있는 파일을 지정
- ./ : 현재 작업중인 디렉토리
- ../ : 상위 디렉토리
- ./폴더명/ : 하위 폴더
- 상위로 2번 이동 : ../../
- 하위로 2번 이동 : ./폴더명/폴더명/파일이름
- 상위로 1번 이동 하위로 1번 이동 : ../폴더명/

In [58]:
# csv 파일 로드 
# pd.read_csv(파일의 경로)
df = pd.read_csv("../csv/uriage.csv")

#데이터프레임의 형태는 쥬피터 환경에서는 print를 사용하지 않는게 더 깔끔하게 출력
df

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05     상 품 S         NaN           김우찬
2     2019-05-11 19:42     상 품 a         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품a         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [60]:
## 대문자로 변환 
## upper()라는 함수는 문자열을 기준으로 대문자로 변경
## 데이터프레임 -> 문자열화 -> 대문자로 변환

# df["item_name"] -> 데이터 형태? -> 스리즈의 형태 -> 문자열화 -> 대문자 변환
df["item_name"].str.upper()
# 쥬피터에서 출력이 되는 경우 
# 데이터를 확인 하는 작업. 데이터의 변화는 X
df["item_name"] = df["item_name"].str.upper()

In [65]:
# 공백 제거 
# 좌측 공백 제거 -> lstrip()
# 우측 공백 제거 -> rstrip()
# 양쪽 공백 제거 -> strip()
# 문자열의 모든 공백 제거 -> replace(" ", "")

# case1 -> 문자열화 -> 공백 제거
df["item_name"].str.replace(" ", "")

# case2 -> apply()함수를 사용하여 각 항목별로 로드하여 replace()
df["item_name"].apply(lambda x : x.replace(" ", ""))

# case3 -> apply()함수 안에 일반 함수를 사용하는 방법
def change(x):
    result = x.replace(" ", "")
    return result

df["item_name"] = df["item_name"].apply(change)

### 공백제거, 대문자 변경을 해주는 Class 생성
1. init함수에는 파일 경로를 매개변수를 이용하여 값을 받아오는 작업
2. 함수 생성 -> 공백 제거, 대문자로 변환 리턴 -> 
이 함수에서 필요한 매개변수(특정 컬럼)
3. 데이터프레임을 리턴

In [76]:
class Class_4():
    def __init__(self, _path):
        self.df = pd.read_csv(_path)
    
    def change(self, _column):
        # 공백제거
        self.df[_column] = self.df[_column].str.replace(" ", "")
        # 대문자로 변환
        self.df[_column] = self.df[_column].str.upper()
        return self.df
    
    def review(self):
        return self.df

In [77]:
class_df = Class_4("../csv/uriage.csv")

In [ ]:
class_df.review()

In [ ]:
class_df.change("item_name")

In [96]:
import mod2
import imp
imp.reload(mod2)

In [97]:
class_df_2 = mod2.Class_1("../csv/uriage.csv")

In [ ]:
class_df_2.review()

In [ ]:
class_df_2.change("item_name")

In [87]:
class_df_2.review().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

### 연습문제
1. mod2 모듈에서 클래스 안에 함수 하나 추가 
2. 특정 컬럼의 데이터의 타입을 시계열 변경
3. 2번째 함수 하나 더 생성
4. 파생변수 'year', 'month', 'day'3개 생성 -> 시계열의 데이터의 년, 월, 일 데이터를 삽입

In [98]:
class_df_2.change_time("purchase_date")

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-07-13 13:05:00     상 품 S         NaN           김우찬
2    2019-05-11 19:42:00     상 품 a         NaN           김유찬
3    2019-02-12 23:40:00       상품Z      2600.0           김재현
4    2019-04-22 03:09:00       상품a         NaN           김강현
...                  ...       ...         ...           ...
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민
2995 2019-06-22 04:03:00       상품M      1300.0           김재원
2996 2019-03-29 11:14:00       상품Q         NaN           김지율
2997 2019-07-14 12:56:00       상품H         NaN           김승주
2998 2019-07-21 00:31:00       상품D       400.0           정준기

[2999 rows x 4 columns]

In [95]:
class_df_2.review().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   datetime64[ns]
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 93.8+ KB

In [99]:
class_df_2.create_date("purchase_date")

           purchase_date item_name  item_price customer_name  year month day
0    2019-06-13 18:02:00       상품A       100.0           김가온  2019    06  13
1    2019-07-13 13:05:00     상 품 S         NaN           김우찬  2019    07  13
2    2019-05-11 19:42:00     상 품 a         NaN           김유찬  2019    05  11
3    2019-02-12 23:40:00       상품Z      2600.0           김재현  2019    02  12
4    2019-04-22 03:09:00       상품a         NaN           김강현  2019    04  22
...                  ...       ...         ...           ...   ...   ...  ..
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민  2019    02  15
2995 2019-06-22 04:03:00       상품M      1300.0           김재원  2019    06  22
2996 2019-03-29 11:14:00       상품Q         NaN           김지율  2019    03  29
2997 2019-07-14 12:56:00       상품H         NaN           김승주  2019    07  14
2998 2019-07-21 00:31:00       상품D       400.0           정준기  2019    07  21

[2999 rows x 7 columns]

In [100]:
class_df_3 = mod2.Class_1("../csv/Sales Records.csv")

In [ ]:
class_df_3.review().info()

In [102]:
class_df_3.change_time("Order Date")

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2/1/2011,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,10/6/2012,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,12/5/2015,3491,47.45,31.79,165647.95,110978.89,54669.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,2014-07-15,199342048,7/31/2014,8597,47.45,31.79,407927.65,273298.63,134629.02
9996,Europe,Liechtenstein,Cosmetics,Online,C,2012-10-27,763044106,11/1/2012,562,437.20,263.33,245706.40,147991.46,97714.94
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2013-02-14,848579967,3/20/2013,2524,154.06,90.93,388847.44,229507.32,159340.12
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2017-02-19,298185956,2/22/2017,8706,421.89,364.69,3672974.34,3174991.14,497983.20
9999,Asia,Mongolia,Snacks,Offline,M,2016-04-12,824410903,4/16/2016,361,152.58,97.44,55081.38,35175.84,19905.54