### uriage.csv
1. 파일 로드 
2. purchase_date 컬럼을 시계열데이터 변경
3. item_name 컬럼의 값들을 다 대문자 변경 - 데이터.str.upper()
4. item_name 컬럼의 값들의 공백 다 삭제 (좌우 띄어쓰기 전부 삭제) - 데이터.replace(" ", "") X --> apply()
5. item_name을 기준으로 오름차순 정렬
6. 인덱스 재지정
7. 결측치의 값을 확인

In [1]:
import pandas as pd

In [2]:
uriage = pd.read_csv("../csv/uriage.csv")

In [3]:
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [4]:
uriage_copy = uriage.copy()

In [5]:
uriage_copy["purchase_date"] = \
    pd.to_datetime(uriage_copy["purchase_date"])

In [ ]:
## item_name 컬럼의 데이터들을 대문자로 변환
uriage_copy["item_name"] = \
    uriage_copy["item_name"].str.upper()
uriage_copy.head()

In [10]:
## item_name 공백 삭제 띄어쓰기도 같이 삭제

# case1
uriage_copy["item_name"] = uriage_copy["item_name"].apply(lambda x : 
    x.replace(" ", ""))

# case2
def change(x):
    return x.replace(" ", "")

uriage_copy["item_name"] = uriage_copy["item_name"].apply(change)

# case3
uriage_copy["item_name"] = uriage_copy["item_name"].str.replace(" ", "")

In [ ]:
## item_name 기준으로 오름차순 정렬
uriage_copy.sort_values("item_name", ascending=True, inplace=True)
uriage_copy

In [12]:
## 인덱스를 재지정 (기존의 인덱스 삭제)
uriage_copy.reset_index(drop=True, inplace=True)

In [ ]:
## 결측치를 확인
uriage_copy.isna().sum()

In [ ]:
## 결측치의 값에 해당하는 item_name들의 item_price의 값으로 치환
flg_null = uriage_copy["item_price"].isna()
flg_null

In [22]:
name_list = uriage_copy.loc[flg_null, 'item_name'].unique()

In [ ]:
## '~'연산자 -> 부정
## ~False = True, ~True = False
uriage_copy.loc[(~flg_null) & 
    (uriage_copy["item_name"] == '상품A'), "item_price"].mean()

In [23]:
for name in list(name_list):

    price = uriage_copy.loc[(~flg_null) & 
    (uriage_copy["item_name"] == name), "item_price"].mean()
    
    uriage_copy["item_price"].loc[(flg_null) & 
    (uriage_copy["item_name"] == name)] = price

c:\Users\moons\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [25]:
uriage_copy.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64