### dataframe 결합
1. 단순하게 행을 추가 
2. 열을 추가(단순히 열을 추가 / 특정조건에 맞게 열을 추가)

In [1]:
# 행을 추가 
import pandas as pd

In [9]:
df = pd.DataFrame({
    'S1': [1,2,3,4], 
    'S2': [5,6,7,8]
})
df

   S1  S2
0   1   5
1   2   6
2   3   7
3   4   8

In [10]:
df2 = pd.DataFrame([1,2])
df2

   0
0  1
1  2

### concat()
1. 데이터프레임을 결합하는 함수
2. axis 0, 1 행을 추가, 열을 추가 지정(기본값은 행을 추가)
3. 단순하게 결합
4. ignore_index 속성 기본값이 false 인덱스의 값은 그대로 할것인가 아니면 새로 재지정

In [13]:
# pd.concat([df, df2], axis='rows', ignore_index=True)
pd.concat([df, df2], axis='rows').reset_index(drop=True)

    S1   S2    0
0  1.0  5.0  NaN
1  2.0  6.0  NaN
2  3.0  7.0  NaN
3  4.0  8.0  NaN
4  NaN  NaN  1.0
5  NaN  NaN  2.0

In [ ]:
df3 = pd.DataFrame({
    'S1': [1,3]
})
df3

In [ ]:
pd.concat([df, df3])

### merge()
1. 데이터프레임을 결합 함수
2. 특정 조건을 만족해야 열이 추가
3. on 속성 -> 조건
4. how 속성 -> 기준이 되는 데이터프레임 선택 (left, right, inner, full)

In [20]:
df4 = pd.DataFrame({
    "id" : [1,2,3,4,5], 
    "item" : ["a", 'b', 'a', 'a', 'b']
})
df5 = pd.DataFrame({
    "id" : [1,4,5,2,3],
    "name" : ["kim", "lee", "park", 'choi', 'ha']
})

In [21]:
#concat() 열 추가
#merge() 열 추가
pd.concat([df4, df5], axis=1)

   id item  id  name
0   1    a   1   kim
1   2    b   4   lee
2   3    a   5  park
3   4    a   2  choi
4   5    b   3    ha

In [22]:
pd.merge(df4, df5, on='id', how='inner')

   id item  name
0   1    a   kim
1   2    b  choi
2   3    a    ha
3   4    a   lee
4   5    b  park

In [25]:
df6 = pd.DataFrame({
    "item" : ['a', 'b', 'c'],
    "item_price" : [100, 500, 1000]
})

In [ ]:
pd.concat([df4, df6], axis=1)

In [30]:
pd.merge(df4, df6, on='item', how="left")

   id item  item_price
0   1    a         100
1   2    b         500
2   3    a         100
3   4    a         100
4   5    b         500