In [ ]:
## yfinance 라이브러리 
## 주식정보 받아올수 있는 라이브러리 
!pip install yfinance

In [3]:
import yfinance as yf
import pandas as pd

In [4]:
yf.download('AAPL', start='2019-01-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,39.632500,39.840000,39.119999,39.435001,38.124855,140014000
2019-01-02,38.722500,39.712502,38.557499,39.480000,38.168343,148158800
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.366497,365248800
2019-01-04,36.132500,37.137501,35.950001,37.064999,35.833588,234428400
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.753822,219111200
...,...,...,...,...,...,...
2022-08-25,168.779999,170.139999,168.350006,170.029999,170.029999,51218200
2022-08-26,170.570007,171.050003,163.559998,163.619995,163.619995,78823500
2022-08-29,161.149994,162.899994,159.820007,161.380005,161.380005,73314000
2022-08-30,162.130005,162.559998,157.720001,158.910004,158.910004,77906200
2022-08-31,160.309998,160.580002,157.139999,157.220001,157.220001,87700100

In [10]:
yf.download('382800.KQ', start="2019-01-01")

## 대한항공 003490.KS

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close  Adj Close  Volume
Date
2022-09-01  13600.0  13650.0  13450.0  13450.0    13450.0   18522

1. 각자 한종목의 데이터를 선택
3. NaN값이 존재하면 시가 변환
4. 파생변수 등락폭 (종가 - 시가) 생성
5. 등락율 (등락폭 / 시가 * 100) 파생변수 생성
6. 시가 / 종가 / 등락폭 / 볼륨 데이터를 시각화하여 표시 subplot 4개의 그래프 생성

In [11]:
## 회사 선택
amzn = yf.download('AMZN', start="2019-01-01")
amzn.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-31  75.540001  76.038002  74.349998  75.098503  75.098503  139090000
2019-01-02  73.260002  77.667999  73.046501  76.956497  76.956497  159662000
2019-01-03  76.000504  76.900002  74.855499  75.014000  75.014000  139512000
2019-01-04  76.500000  79.699997  75.915497  78.769501  78.769501  183652000
2019-01-07  80.115501  81.727997  79.459503  81.475502  81.475502  159864000

In [ ]:
## 소수점 2번째 자리 유지
amzn[["Open", "Close", "High", "Low"]] = \
    amzn[["Open", "Close", "High", "Low"]].round(2)
amzn.head()

In [13]:
amzn.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [ ]:
amzn["등락폭"] = amzn["Close"] - amzn["Open"]
amzn["등락율"] = amzn["등락폭"] / amzn["Open"] * 100
amzn.head()

In [15]:
## 시각화 
import matplotlib.pyplot as plt

In [ ]:
a = amzn["Open"].to_list()
b = amzn["Close"].to_list()
c = amzn["등락율"].to_list()
d = amzn["Volume"].to_list()

plt.subplot(4,1,1)
plt.plot(a)
plt.subplot(4,1,2)
plt.plot(b)
plt.subplot(4,1,3)
plt.plot(c)
plt.subplot(4,1,4)
plt.plot(d)
plt.show()