In [1]:
import pandas as pd

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\moons\appdata\local\programs\python\python36\lib\site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\moons\appdata\local\programs\python\python36\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in c:\users\moons\appdata\local\programs\python\python36\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\moons\appdata\local\programs\python\python36\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\moons\appdata\local\programs\python\python36\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [3]:
pd_list = pd.Series([5000, 6000, 6500, 7000], 
            index=["아메리카노", "카페라떼", "카페모카", "카푸치노"])

In [ ]:
print(pd_list)

In [5]:
print("스리즈의 값 : ", pd_list.values)
print("스리즈의 인덱스 값 : ", pd_list.index)

스리즈의 값 :  [5000 6000 6500 7000]
스리즈의 인덱스 값 :  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [6]:
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a', 'b', 'c']
_columns = ['A', 'B', 'C']

pd_df = pd.DataFrame(_value, index = _index, columns = _columns)
print(pd_df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [7]:
pd_df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [8]:
print("데이터프레임의 값 : ", pd_df.values)
print("데이터프레임의 인덱스 값 : ", pd_df.index)
print("데이터프레임의 컬럼 값 : ", pd_df.columns)

데이터프레임의 값 :  [[1 2 3]
 [4 5 6]
 [7 8 9]]
데이터프레임의 인덱스 값 :  Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 컬럼 값 :  Index(['A', 'B', 'C'], dtype='object')

In [9]:
## 딕셔너리 형태의 데이터를 데이터프레임으로 변경
_values = {
    "name" : ["A", "B", "C"],
    "age" : [20, 30, 40], 
    "phone" : ["01012345678", "01098765432", "01055558888"]
}
pd_df_2 = pd.DataFrame(_values)
pd_df_2

  name  age        phone
0    A   20  01012345678
1    B   30  01098765432
2    C   40  01055558888

In [ ]:
# head(), tail(), columns 지정
pd_df_2.head(2)

In [ ]:
pd_df_2.tail(2)

In [ ]:
pd_df_2["age"]

### 경로 지정
1. 절대 경로 - 절대적인 주소 (예 : url주소, c:\users\test.txt)
2. 상대 경로 - 작업중인 환경에서 현재, 상위, 하위 폴더를 경로로 지정 
3. './' - 현재 작업중인 디렉토리
4. '../' - 상위 디렉토리 이동
5. './폴더명/' - 하위 디렉토리 이동

In [19]:
csv_df = pd.read_csv("../csv/example.csv")
csv_df

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687

In [20]:
csv_df.head()

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682