In [9]:
a = "10"
b = "Hello Wrold"
print(a)
print(b)
print(type(a))
print(type(b))

10
Hello Wrold
<class 'str'>
<class 'str'>

str

In [10]:
## 연산자
## + - * / // % **
x = 5
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

8 2 15 1.6666666666666667 1 2 125

In [11]:
## 대입 연산자
## x = 5인 상태
x += 1
## x = x + 1
print(x)

6

In [12]:
## x = 6인 상태
x -= 3
print(x)

3

In [13]:
x *= 5
print(x)

15

In [14]:
## 비교 연산자
## 비교 연산자 -> bool의 형태의 데이터를 출력 (True, False)
a = 5 
b = 3
print(a == b, a != b, a > b, a < b, a >= b, a <= b)

False True True False True False

In [16]:
## and, or, not
## and 두 조건이 모두 참인 경우 참
## or 두 조건 중 하나만 참이면 참
## not 반대로 출력 
a = 10
print( (a > 5) and (a < 15) ) # 두 조건이 참인 경우
print( (a > 5) and (a > 15) ) # 두 조건 중 하나만 참인 경우

True
False

In [17]:
print( (a > 5) or (a > 15) ) # 두 조건 중 하나만 참인 경우

True

In [19]:
not(False)  #not 부정의 의미 불의 형태가 반대로 출력

True

### if문
1. 조건식이 참인 경우 코드가 실행 (들여쓰기 한 코드가 실행)
2. 조건식이 거짓인 경우 코드가 실행이 되지 않는다. 
3. 거짓일 때의 코드를 실행하려면 else문을 사용해야 한다.

In [20]:
a = 5

if a < 10 :
    print("a는 10보다 작다.")   # a가 10보다 작은 경우에만 실행

a는 10보다 작다.

In [21]:
a = 15

if a < 10 :
    print("a는 10보다 작다")

## a는 10보다 작지 않기 때문에 if문 안에 있는 코드가 실행되지 않는다.

In [22]:
a = 15

if a < 10 :
    print("a는 10보다 작다")    #a가 10보다 작은 경우 실행
else :
    print("a는 10보다 크거나 같다.")    #그 외의 경우에 실행

a는 10보다 크거나 같다.

In [26]:
score = int(input("점수를 입력해주세요 : "))

if score >= 90:
    print("A")  # score 90이상인 경우
elif score >= 80:
    print("B")  # score 80이상, 90미만
elif score >= 70:
    print("C")  # score 70이상, 80미만
else:
    print("F")  # score 70미만

A

### 반복문
1. for문
2. while문

In [27]:
## for문
## for 변수명 in range(시작값, 종료값, 증가값):

for i in range(0, 5, 1):
    print(i)

0
1
2
3
4

In [28]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [29]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

1. for문을 이용해서 1부터 10까지의 합계를 출력하시오
2. 1부터 50까지의 짝수의 합계를 구하는 식
3. 주사위 2개를 굴려서 합이 10이 되는 경우의 수를 출력하시오

In [30]:
# 1번
# 합계 변수 미리 생성
sum = 0

for i in range(1, 11, 1):
    sum += i    # 1부터 10까지의 수를 sum에 더해주는 작업
print(sum)

55

In [ ]:
#2번 
# 1부터 50까지의 짝수의 합
sum = 0

for i in range(1, 51, 1):
    if i % 2 == 0:  # 짝수인 경우
        print(i, end=" ")
        sum += i

print(sum)

In [ ]:
# 3번 
# 주사위가 2개 (총 경우의 수 36개)
for i in range(1, 7, 1):    # 1번 주사위를 경우의 수
    for j in range(1, 7, 1):    # 2번 주사위를 경우의 수
        if i + j == 10:
            print(i , j)

In [34]:
## while문
# 초기값을 미리 지정
# while 조건식 

i = 0 

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [37]:
# break문  : 반복문을 종료
for i in range(0, 100, 1):
    if i == 7 : 
        break
    print(i, end=" ")

0 1 2 3 4 5 6

In [38]:
for i in range(0, 100, 1):
    print(i, end= " ")
    if i == 7 :
        break

0 1 2 3 4 5 6 7

#### 1부터 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?

1. 합계를 구하기 위해서는 초기 합계 변수 하나 생성
2. for, while 문을 이용하여 1부터 1000까지의 합계를 구하는 반복문 생성
3. 합계가 900이 넘어가는 지점에서 i값을 출력
4. i값을 출력한 후에 반복문 종료

In [39]:
sum = 0 

for i in range(1, 1001, 1):
    sum += i
    if sum >= 900 :
        print(sum)
        print(i)
        break

903
42

In [43]:
sum = 0 
i = 1 

while i <= 1000:
    sum += i
    if sum >= 900:
        print(i)
        break
    i += 1

42

In [44]:
# tuple 데이터형태
a = (20, "test")
b = (3, 3.14)
c = a + b
d = a * 3

print(a, b, c, d)

(20, 'test') (3, 3.14) (20, 'test', 3, 3.14) (20, 'test', 20, 'test', 20, 'test')

In [45]:
# 20이라는 숫자를 출력하려면
print(a[0])

20

In [46]:
a = (10, 20, 30, 40)

In [47]:
a[1:3]

(20, 30)

In [51]:
# (30, 40) 출력을 하려면?
# a[2:3]? a[2:4]? a[2:]?
a[2:3]

(30,)

In [53]:
# (10, 20, 30) 출력을 하려면?
a[:3]

(10, 20, 30)

In [54]:
# 리스트 데이터형
a = [20, 10, 50, 5]
b = [10, 20, 30, 40]

In [58]:
# sort() -> 오름차순 정렬
a.sort()
print(a)

[5, 10, 20, 50]

In [59]:
# reverse() 역순으로 정렬
b.reverse()
print(b)

[10, 20, 30, 40]

In [60]:
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [61]:
# 1부터 70까지 3의 배수를 리스트로 만들어서 출력하시오.
# 리스트로 출력을 하려면 비어있는 리스트 변수를 하나 생성
l = []

for i in range(1, 71, 1):
    if i % 3 == 0:
        l.append(i)

print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [62]:
# 딕셔너리 데이터형
# { key : value, key2 : value2 }
dict = { "name" : "test", "age" : 20, "phone" : "01012345678" }

In [64]:
print(dict["name"])

test

In [65]:
dict["area"] = "seoul"

In [66]:
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [67]:
# 데이터의 형태 [ {  } , { } , { } ]
test_data = [
    {"name" : "test", 
    "age" : 20}, 
    {"name" : "test2", 
    "age" : 25}, 
    {"name" : "test3", 
    "age" : 15}
]

In [68]:
print(test_data)

[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 25}, {'name': 'test3', 'age': 15}]

In [73]:
## test 문구를 출력하려면?
print(test_data[0])
print(test_data[0]["name"])

{'name': 'test', 'age': 20}
test

In [74]:
# 대 소 문자 변환
# upper(), lower(), title()
a = "Hello world"
print(a.upper())
print(a.lower())
print(a.title())

HELLO WORLD
hello world
Hello World

In [76]:
# 공백을 제거 함수 
# strip()
# replace()

a = "   hello world   "
a

'   hello world   '

In [78]:
a.lstrip()

'hello world   '

In [79]:
a.rstrip()

'   hello world'

In [80]:
a.strip()

'hello world'

In [81]:
a.replace("hello", "hi")

'   hi world   '

In [82]:
a.replace(" ", "")

'helloworld'

In [83]:
# split() 기준이 되는 문자열이나 , . / 특수문자열을 기준으로 문자열을 나눠주는 역할
a = "a,b,c,d,e"
print(a)

a,b,c,d,e

In [84]:
a.split(",")

['a', 'b', 'c', 'd', 'e']

In [85]:
# 함수 -> 뭔가 행동. 데이터를 변환
# def 함수명 (매개변수):

def func_1():
    print("Hello World")

func_1()
func_1()

Hello World
Hello World

In [89]:
# 함수 안에 있는 result라는 변수 -> 지역 변수
# 함수 밖에 있는 x라는 변수 -> 전역 변수

x = 3

def func_2(a):
    result = a * x
    print(result)
    return result


print(x)
print(func_2(5))

3
15
15

In [92]:
def func_3(a,b,c):
    result = a + b + c
    return result

print(func_3(1,2,3))

6

In [95]:
def func_4(a, b, c = 5):
    result = a + b - c
    return result

print(func_4(5,2))
print(func_4(5,2,1))

2
6