In [31]:
import os
import pandas as pd
import numpy as np
import datetime
import glob

In [32]:
# 파일 목록 불러오기
files = glob.glob('./csv/*.csv')
files

['./csv\\AAPL.csv', './csv\\AMZN.csv', './csv\\BND.csv']

In [33]:
# 빈 데이터프레임 생성 컬럼만 지정
month_last_df = pd.DataFrame(columns=['Date', 'CODE', '1M_RET'])
month_last_df

Empty DataFrame
Columns: [Date, CODE, 1M_RET]
Index: []

In [34]:
# 종목 데이터프레임 생성
stock_df = pd.DataFrame(columns=['Date', 'CODE', 'Adj Close'])

In [35]:
for file in files:
    if os.path.isdir(file):
        print('%s <DIR>'%file)
    else:
        folder, name = os.path.split(file)
        head, tail = os.path.splitext(name)
        print(folder, name, head, tail)
        read_df = pd.read_csv(file)

        print(read_df.head(1))

./csv AAPL.csv AAPL .csv
         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
./csv AMZN.csv AMZN .csv
         Date    Open  High       Low     Close  Adj Close    Volume
0  1997-05-15  2.4375   2.5  1.927083  1.958333   1.958333  72156000
./csv BND.csv BND .csv
         Date   Open       High   Low      Close  Adj Close  Volume
0  2007-04-10  75.07  75.260002  75.0  75.239998  51.523693   35000

In [36]:
def data_preprocessing(sample, ticker, base_date):
    sample['CODE'] = ticker #종목코드 추가
    sample = sample[sample['Date'] >= base_date][['Date', 'CODE', 'Adj Close']]
    sample.reset_index(inplace=True, drop=True) 
    ## inplace=True 기준이 되는 데이터프레임을 수정
    ## drop=True 기존 인덱스를 삭제
    
    # 기준년월
    sample["STD-YM"] = sample['Date'].map(lambda x : \
        datetime.datetime.strptime(x, '%Y-%m-%d').strftime("%Y-%m"))
    # 수익률
    sample["1M_RET"] = 0.0      
    
    # 기준년월의 중복 데이터를 삭제한 리스트
    ym_keys = list(sample["STD-YM"].unique())

    return sample, ym_keys

In [37]:
df = pd.read_csv("./csv/AAPL.csv")
price_df, ym_keys = data_preprocessing(df, 'AAPL', '2010-01-01')
print(price_df)
print(ym_keys)

            Date  CODE   Adj Close   STD-YM  1M_RET
0     2010-01-04  AAPL   26.782711  2010-01     0.0
1     2010-01-05  AAPL   26.829010  2010-01     0.0
2     2010-01-06  AAPL   26.402260  2010-01     0.0
3     2010-01-07  AAPL   26.353460  2010-01     0.0
4     2010-01-08  AAPL   26.528664  2010-01     0.0
...          ...   ...         ...      ...     ...
2379  2019-06-18  AAPL  198.449997  2019-06     0.0
2380  2019-06-19  AAPL  197.869995  2019-06     0.0
2381  2019-06-20  AAPL  199.460007  2019-06     0.0
2382  2019-06-21  AAPL  198.779999  2019-06     0.0
2383  2019-06-24  AAPL  199.169998  2019-06     0.0

[2384 rows x 5 columns]
['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06']

In [38]:
def create_trade_book(sample, sample_codes):
    book = pd.DataFrame()
    book = sample[sample_codes]
    book["STD-YM"] = book.index.map(lambda x : \
        datetime.datetime.strptime(x, "%Y-%m-%d").strftime("%Y-%m"))
    for i in sample_codes:
        book['p '+i] = ""
        book["r "+i] = ""
    return book

In [39]:
## trading 함수 생성
def tradings(book, s_codes):
    std_ym = ""
    buy_phase = ""
    for i in s_codes:
        print(i)
        # 종목코드의 인덱스 반복
        for j in book.index:
            if book.loc[j, "p "+i] == "" and book.shift(1).loc[j, "r "+i] == "ready " + i:
                std_ym = book.loc[i, "STD-YM"]
                buy_phase = True
            if book.loc[j, "p "+i] == "" and book.loc[j, "STD-YM"] == std_ym and buy_phase == True:
                book.loc[j, "p "+i] = "buy" + i
            
            if book.loc[j, "p "+i] == "":
                std_ym = None
                buy_phase = False
    return book

In [40]:
def multi_returns(book, s_codes):
    rtn = 1.0
    buy_dict = {}
    num = len(s_codes)
    sell_dict = {}

    for i in book.index:
        for s in s_codes:
            if book.loc[i, 'p '+s] == "buy" and \
                book.shift(1).loc[i, "p "+s] == "ready" and \
                    book.shift(2).loc[i, 'p '+s] == "":
                buy_dict[s] = book.loc[i, s]
                print("진입일 : ", i, '종목코드 : ', s, 'long 진입 가격 : ', buy_dict[s])
            elif book.loc[i, "p "+s] == "" and \
                book.shift(1).loc[i, "p "+s] == "buy "+s:
                sell_dict[s] = book.loc[i, s]
                #손익 계산
                rtn = (sell_dict[s] / buy_dict[s]) - 1
                book.loc[i, "r "+s] =rtn
                print("개별 청산일 : ", i, "종목코드 : ", s, "long 진입 가격 : ", \
                    buy_dict[s], "long 청산 가격 : ", sell_dict[s], "return : ", round(rtn*100, 2))
            
            if book.loc[i, "p " + s] == "":
                buy_dict[s] = 0.0
                sell_dict[s] = 0.0

    acc_rtn = 1.0
    for i in book.index:
        rtn = 0.0
        count = 0
        for s in s_codes:
            if book.loc[i, "p "+s] == "" and \
                book.shift(1).loc[i, "p "+s] == "buy"+s:
                count += 1  #count = count + 1
                rtn += book.loc[i, "r "+s]
        if (rtn != 0.0) and (count != 0):
            acc_rtn *= (rtn/count) + 1
            print("누적 청산일 : ", i, "청산 종목 수 : ", count, \
                "청산 수익율 : ", round((rtn/count), 4), "누적 수익율 : ", round(acc_rtn, 4))
            book.loc[i, "acc_rtn"] = acc_rtn
    print("누적 수익율 : ", round(acc_rtn, 4))

In [41]:
for file in files:
    if os.path.isdir(file):
        print('%s <DIR>'%file)
    else:
        folder, name = os.path.split(file)
        head, tail = os.path.splitext(name)
        # print(folder, name, head, tail)
        read_df = pd.read_csv(file)

        # print(read_df.head(1))
        price_df, ym_keys = data_preprocessing(read_df, head, "2010-01-01")

        stock_df = pd.concat([stock_df, price_df])

        for ym in ym_keys:
            ## 기준년월 마지막 종가 / 기준년월 첫 종가
            m_ret = price_df.loc[price_df[price_df["STD-YM"] == ym].index[-1], 'Adj Close'] \
                / price_df.loc[price_df[price_df["STD-YM"] == ym].index[0], 'Adj Close']
            price_df.loc[price_df['STD-YM'] == ym, ['1M_RET']] = m_ret
            
            month_last_df = month_last_df.append(\
                price_df.loc[price_df[price_df["STD-YM"] == ym].index[-1], ['Date', 'CODE', '1M_RET']])

Date      2010-01-29
CODE            AAPL
1M_RET      0.897435
Name: 18, dtype: object
Date      2010-02-26
CODE            AAPL
1M_RET       1.05079
Name: 37, dtype: object
Date      2010-03-31
CODE            AAPL
1M_RET       1.12446
Name: 60, dtype: object
Date      2010-04-30
CODE            AAPL
1M_RET       1.10645
Name: 81, dtype: object
Date      2010-05-28
CODE            AAPL
1M_RET      0.964445
Name: 101, dtype: object
Date      2010-06-30
CODE            AAPL
1M_RET      0.964345
Name: 123, dtype: object
Date      2010-07-30
CODE            AAPL
1M_RET       1.03529
Name: 144, dtype: object
Date      2010-08-31
CODE            AAPL
1M_RET      0.928395
Name: 166, dtype: object
Date      2010-09-30
CODE            AAPL
1M_RET        1.1335
Name: 187, dtype: object
Date      2010-10-29
CODE            AAPL
1M_RET       1.06534
Name: 208, dtype: object
Date      2010-11-30
CODE            AAPL
1M_RET       1.02291
Name: 229, dtype: object
Date      2010-12-31
CODE            AAPL
1M_RET       1.01947
Name: 251, dtype: object
Date      2011-01-31
CODE            AAPL
1M_RET       1.02958
Name: 271, dtype: object
Date      2011-02-28
CODE            AAPL
1M_RET       1.02371
Name: 290, dtype: object
Date      2011-03-31
CODE            AAPL
1M_RET       0.99771
Name: 313, dtype: object
Date      2011-04-29
CODE            AAPL
1M_RET       1.01617
Name: 333, dtype: object
Date      2011-05-31
CODE            AAPL
1M_RET       1.00448
Name: 354, dtype: object
Date      2011-06-30
CODE            AAPL
1M_RET       0.97152
Name: 376, dtype: object
Date      2011-07-29
CODE            AAPL
1M_RET       1.13756
Name: 396, dtype: object
Date      2011-08-31
CODE            AAPL
1M_RET      0.969956
Name: 419, dtype: object
Date      2011-09-30
CODE            AAPL
1M_RET       1.00076
Name: 440, dtype: object
Date      2011-10-31
CODE            AAPL
1M_RET       1.08057
Name: 461, dtype: object
Date      2011-11-30
CODE            AAPL
1M_RET       0.96391
Name: 482, dtype: object
Date      2011-12-30
CODE            AAPL
1M_RET         1.044
Name: 503, dtype: object
Date      2012-01-31
CODE            AAPL
1M_RET       1.11004
Name: 523, dtype: object
Date      2012-02-29
CODE            AAPL
1M_RET       1.18907
Name: 543, dtype: object
Date      2012-03-30
CODE            AAPL
1M_RET       1.10116
Name: 565, dtype: object
Date      2012-04-30
CODE            AAPL
1M_RET      0.943989
Name: 585, dtype: object
Date      2012-05-31
CODE            AAPL
1M_RET      0.992441
Name: 607, dtype: object
Date      2012-06-29
CODE            AAPL
1M_RET       1.04102
Name: 628, dtype: object
Date      2012-07-31
CODE            AAPL
1M_RET       1.03078
Name: 649, dtype: object
Date      2012-08-31
CODE            AAPL
1M_RET         1.101
Name: 672, dtype: object
Date      2012-09-28
CODE            AAPL
1M_RET       0.98834
Name: 691, dtype: object
Date      2012-10-31
CODE            AAPL
1M_RET      0.902834
Name: 712, dtype: object
Date      2012-11-30
CODE            AAPL
1M_RET      0.985606
Name: 733, dtype: object
Date      2012-12-31
CODE            AAPL
1M_RET      0.907846
Name: 753, dtype: object
Date      2013-01-31
CODE            AAPL
1M_RET      0.829627
Name: 774, dtype: object
Date      2013-02-28
CODE            AAPL
1M_RET      0.978732
Name: 793, dtype: object
Date      2013-03-28
CODE            AAPL
1M_RET       1.02832
Name: 813, dtype: object
Date      2013-04-30
CODE            AAPL
1M_RET       1.03234
Name: 835, dtype: object
Date      2013-05-31
CODE            AAPL
1M_RET       1.03054
Name: 857, dtype: object
Date      2013-06-28
CODE            AAPL
1M_RET       0.87977
Name: 877, dtype: object
Date      2013-07-31
CODE            AAPL
1M_RET       1.10584
Name: 899, dtype: object
Date      2013-08-30
CODE            AAPL
1M_RET       1.07392
Name: 921, dtype: object
Date      2013-09-30
CODE            AAPL
1M_RET      0.975787
Name: 941, dtype: object
Date      2013-10-31
CODE            AAPL
1M_RET       1.07119
Name: 964, dtype: object
Date      2013-11-29
CODE            AAPL
1M_RET       1.07555
Name: 984, dtype: object
Date      2013-12-31
CODE            AAPL
1M_RET       1.01776
Name: 1005, dtype: object
Date      2014-01-31
CODE            AAPL
1M_RET      0.905031
Name: 1026, dtype: object
Date      2014-02-28
CODE            AAPL
1M_RET       1.05555
Name: 1045, dtype: object
Date      2014-03-31
CODE            AAPL
1M_RET       1.01702
Name: 1066, dtype: object
Date      2014-04-30
CODE            AAPL
1M_RET       1.08943
Name: 1087, dtype: object
Date      2014-05-30
CODE            AAPL
1M_RET       1.07617
Name: 1108, dtype: object
Date      2014-06-30
CODE            AAPL
1M_RET       1.03477
Name: 1129, dtype: object
Date      2014-07-31
CODE            AAPL
1M_RET       1.02224
Name: 1151, dtype: object
Date      2014-08-29
CODE            AAPL
1M_RET       1.07157
Name: 1172, dtype: object
Date      2014-09-30
CODE            AAPL
1M_RET      0.975315
Name: 1193, dtype: object
Date      2014-10-31
CODE            AAPL
1M_RET       1.08893
Name: 1216, dtype: object
Date      2014-11-28
CODE            AAPL
1M_RET       1.09183
Name: 1235, dtype: object
Date      2014-12-31
CODE            AAPL
1M_RET      0.959242
Name: 1257, dtype: object
Date      2015-01-30
CODE            AAPL
1M_RET       1.07162
Name: 1277, dtype: object
Date      2015-02-27
CODE            AAPL
1M_RET       1.08714
Name: 1296, dtype: object
Date      2015-03-31
CODE            AAPL
1M_RET      0.963901
Name: 1318, dtype: object
Date      2015-04-30
CODE            AAPL
1M_RET       1.00724
Name: 1339, dtype: object
Date      2015-05-29
CODE            AAPL
1M_RET       1.01453
Name: 1359, dtype: object
Date      2015-06-30
CODE            AAPL
1M_RET      0.960855
Name: 1381, dtype: object
Date      2015-07-31
CODE            AAPL
1M_RET      0.958136
Name: 1403, dtype: object
Date      2015-08-31
CODE            AAPL
1M_RET      0.956352
Name: 1424, dtype: object
Date      2015-09-30
CODE            AAPL
1M_RET       1.02395
Name: 1445, dtype: object
Date      2015-10-30
CODE            AAPL
1M_RET       1.09053
Name: 1467, dtype: object
Date      2015-11-30
CODE            AAPL
1M_RET      0.980413
Name: 1487, dtype: object
Date      2015-12-31
CODE            AAPL
1M_RET      0.897051
Name: 1509, dtype: object
Date      2016-01-29
CODE            AAPL
1M_RET      0.923967
Name: 1528, dtype: object
Date      2016-02-29
CODE            AAPL
1M_RET       1.00814
Name: 1548, dtype: object
Date      2016-03-31
CODE            AAPL
1M_RET       1.08415
Name: 1570, dtype: object
Date      2016-04-29
CODE            AAPL
1M_RET      0.852259
Name: 1591, dtype: object
Date      2016-05-31
CODE            AAPL
1M_RET       1.07292
Name: 1612, dtype: object
Date      2016-06-30
CODE            AAPL
1M_RET      0.970953
Name: 1634, dtype: object
Date      2016-07-29
CODE            AAPL
1M_RET       1.08677
Name: 1654, dtype: object
Date      2016-08-31
CODE            AAPL
1M_RET       1.00589
Name: 1677, dtype: object
Date      2016-09-30
CODE            AAPL
1M_RET       1.05921
Name: 1698, dtype: object
Date      2016-10-31
CODE            AAPL
1M_RET       1.00906
Name: 1719, dtype: object
Date      2016-11-30
CODE            AAPL
1M_RET      0.996389
Name: 1740, dtype: object
Date      2016-12-30
CODE            AAPL
1M_RET       1.05781
Name: 1761, dtype: object
Date      2017-01-31
CODE            AAPL
1M_RET       1.04477
Name: 1781, dtype: object
Date      2017-02-28
CODE            AAPL
1M_RET       1.06861
Name: 1800, dtype: object
Date      2017-03-31
CODE            AAPL
1M_RET       1.02768
Name: 1823, dtype: object
Date      2017-04-28
CODE            AAPL
1M_RET      0.999652
Name: 1842, dtype: object
Date      2017-05-31
CODE            AAPL
1M_RET       1.04646
Name: 1864, dtype: object
Date      2017-06-30
CODE            AAPL
1M_RET      0.940201
Name: 1886, dtype: object
Date      2017-07-31
CODE            AAPL
1M_RET       1.03645
Name: 1906, dtype: object
Date      2017-08-31
CODE            AAPL
1M_RET       1.09726
Name: 1929, dtype: object
Date      2017-09-29
CODE            AAPL
1M_RET       0.93947
Name: 1949, dtype: object
Date      2017-10-31
CODE            AAPL
1M_RET       1.09902
Name: 1971, dtype: object
Date      2017-11-30
CODE            AAPL
1M_RET       1.03342
Name: 1992, dtype: object
Date      2017-12-29
CODE            AAPL
1M_RET       0.98936
Name: 2012, dtype: object
Date      2018-01-31
CODE            AAPL
1M_RET      0.971961
Name: 2033, dtype: object
Date      2018-02-28
CODE            AAPL
1M_RET       1.06596
Name: 2052, dtype: object
Date      2018-03-29
CODE            AAPL
1M_RET      0.958743
Name: 2073, dtype: object
Date      2018-04-30
CODE            AAPL
1M_RET      0.991481
Name: 2094, dtype: object
Date      2018-05-31
CODE            AAPL
1M_RET       1.10935
Name: 2116, dtype: object
Date      2018-06-29
CODE            AAPL
1M_RET      0.973034
Name: 2137, dtype: object
Date      2018-07-31
CODE            AAPL
1M_RET       1.01662
Name: 2158, dtype: object
Date      2018-08-31
CODE            AAPL
1M_RET       1.13364
Name: 2181, dtype: object
Date      2018-09-28
CODE            AAPL
1M_RET      0.988527
Name: 2200, dtype: object
Date      2018-10-31
CODE            AAPL
1M_RET      0.963038
Name: 2223, dtype: object
Date      2018-11-30
CODE            AAPL
1M_RET      0.806422
Name: 2244, dtype: object
Date      2018-12-31
CODE            AAPL
1M_RET      0.853479
Name: 2263, dtype: object
Date      2019-01-31
CODE            AAPL
1M_RET       1.05395
Name: 2284, dtype: object
Date      2019-02-28
CODE            AAPL
1M_RET       1.04427
Name: 2303, dtype: object
Date      2019-03-29
CODE            AAPL
1M_RET       1.08561
Name: 2324, dtype: object
Date      2019-04-30
CODE            AAPL
1M_RET       1.04931
Name: 2345, dtype: object
Date      2019-05-31
CODE            AAPL
1M_RET       0.83481
Name: 2367, dtype: object
Date      2019-06-24
CODE            AAPL
1M_RET       1.14928
Name: 2383, dtype: object
Date      2010-01-29
CODE            AMZN
1M_RET      0.936595
Name: 18, dtype: object
Date      2010-02-26
CODE            AMZN
1M_RET      0.996046
Name: 37, dtype: object
Date      2010-03-31
CODE            AMZN
1M_RET       1.09017
Name: 60, dtype: object
Date      2010-04-30
CODE            AMZN
1M_RET       1.04013
Name: 81, dtype: object
Date      2010-05-28
CODE            AMZN
1M_RET      0.912503
Name: 101, dtype: object
Date      2010-06-30
CODE            AMZN
1M_RET      0.886563
Name: 123, dtype: object
Date      2010-07-30
CODE            AMZN
1M_RET       1.06245
Name: 144, dtype: object
Date      2010-08-31
CODE            AMZN
1M_RET       1.03964
Name: 166, dtype: object
Date      2010-09-30
CODE            AMZN
1M_RET       1.18545
Name: 187, dtype: object
Date      2010-10-29
CODE            AMZN
1M_RET       1.07495
Name: 208, dtype: object
Date      2010-11-30
CODE            AMZN
1M_RET       1.07885
Name: 229, dtype: object
Date      2010-12-31
CODE            AMZN
1M_RET       1.01954
Name: 251, dtype: object
Date      2011-01-31
CODE            AMZN
1M_RET      0.920855
Name: 271, dtype: object
Date      2011-02-28
CODE            AMZN
1M_RET       1.00686
Name: 290, dtype: object
Date      2011-03-31
CODE            AMZN
1M_RET       1.06309
Name: 313, dtype: object
Date      2011-04-29
CODE            AMZN
1M_RET       1.08705
Name: 333, dtype: object
Date      2011-05-31
CODE            AMZN
1M_RET      0.977633
Name: 354, dtype: object
Date      2011-06-30
CODE            AMZN
1M_RET       1.06284
Name: 376, dtype: object
Date      2011-07-29
CODE            AMZN
1M_RET        1.0622
Name: 396, dtype: object
Date      2011-08-31
CODE            AMZN
1M_RET      0.972483
Name: 419, dtype: object
Date      2011-09-30
CODE            AMZN
1M_RET       1.01736
Name: 440, dtype: object
Date      2011-10-31
CODE            AMZN
1M_RET       1.00722
Name: 461, dtype: object
Date      2011-11-30
CODE            AMZN
1M_RET      0.906601
Name: 482, dtype: object
Date      2011-12-30
CODE            AMZN
1M_RET      0.878101
Name: 503, dtype: object
Date      2012-01-31
CODE            AMZN
1M_RET       1.08607
Name: 523, dtype: object
Date      2012-02-29
CODE            AMZN
1M_RET       1.00128
Name: 543, dtype: object
Date      2012-03-30
CODE            AMZN
1M_RET       1.12481
Name: 565, dtype: object
Date      2012-04-30
CODE            AMZN
1M_RET       1.17092
Name: 585, dtype: object
Date      2012-05-31
CODE            AMZN
1M_RET      0.925535
Name: 607, dtype: object
Date      2012-06-29
CODE            AMZN
1M_RET       1.09668
Name: 628, dtype: object
Date      2012-07-31
CODE            AMZN
1M_RET       1.01736
Name: 649, dtype: object
Date      2012-08-31
CODE            AMZN
1M_RET       1.06971
Name: 672, dtype: object
Date      2012-09-28
CODE            AMZN
1M_RET       1.02598
Name: 691, dtype: object
Date      2012-10-31
CODE            AMZN
1M_RET       0.92413
Name: 712, dtype: object
Date      2012-11-30
CODE            AMZN
1M_RET       1.08577
Name: 733, dtype: object
Date      2012-12-31
CODE            AMZN
1M_RET       1.00216
Name: 753, dtype: object
Date      2013-01-31
CODE            AMZN
1M_RET       1.03183
Name: 774, dtype: object
Date      2013-02-28
CODE            AMZN
1M_RET      0.997245
Name: 793, dtype: object
Date      2013-03-28
CODE            AMZN
1M_RET       1.00282
Name: 813, dtype: object
Date      2013-04-30
CODE            AMZN
1M_RET      0.970185
Name: 835, dtype: object
Date      2013-05-31
CODE            AMZN
1M_RET       1.08448
Name: 857, dtype: object
Date      2013-06-28
CODE            AMZN
1M_RET       1.04051
Name: 877, dtype: object
Date      2013-07-31
CODE            AMZN
1M_RET       1.06778
Name: 899, dtype: object
Date      2013-08-30
CODE            AMZN
1M_RET      0.919527
Name: 921, dtype: object
Date      2013-09-30
CODE            AMZN
1M_RET       1.08255
Name: 941, dtype: object
Date      2013-10-31
CODE            AMZN
1M_RET       1.13423
Name: 964, dtype: object
Date      2013-11-29
CODE            AMZN
1M_RET       1.09643
Name: 984, dtype: object
Date      2013-12-31
CODE            AMZN
1M_RET       1.01654
Name: 1005, dtype: object
Date      2014-01-31
CODE            AMZN
1M_RET      0.901299
Name: 1026, dtype: object
Date      2014-02-28
CODE            AMZN
1M_RET       1.04608
Name: 1045, dtype: object
Date      2014-03-31
CODE            AMZN
1M_RET      0.934932
Name: 1066, dtype: object
Date      2014-04-30
CODE            AMZN
1M_RET      0.886702
Name: 1087, dtype: object
Date      2014-05-30
CODE            AMZN
1M_RET       1.01514
Name: 1108, dtype: object
Date      2014-06-30
CODE            AMZN
1M_RET       1.05161
Name: 1129, dtype: object
Date      2014-07-31
CODE            AMZN
1M_RET      0.941635
Name: 1151, dtype: object
Date      2014-08-29
CODE            AMZN
1M_RET       1.10415
Name: 1172, dtype: object
Date      2014-09-30
CODE            AMZN
1M_RET      0.941761
Name: 1193, dtype: object
Date      2014-10-31
CODE            AMZN
1M_RET        0.9622
Name: 1216, dtype: object
Date      2014-11-28
CODE            AMZN
1M_RET       1.10768
Name: 1235, dtype: object
Date      2014-12-31
CODE            AMZN
1M_RET      0.951994
Name: 1257, dtype: object
Date      2015-01-30
CODE            AMZN
1M_RET       1.14913
Name: 1277, dtype: object
Date      2015-02-27
CODE            AMZN
1M_RET       1.04305
Name: 1296, dtype: object
Date      2015-03-31
CODE            AMZN
1M_RET       0.96484
Name: 1318, dtype: object
Date      2015-04-30
CODE            AMZN
1M_RET       1.13915
Name: 1339, dtype: object
Date      2015-05-29
CODE            AMZN
1M_RET       1.01504
Name: 1359, dtype: object
Date      2015-06-30
CODE            AMZN
1M_RET       1.00736
Name: 1381, dtype: object
Date      2015-07-31
CODE            AMZN
1M_RET       1.22579
Name: 1403, dtype: object
Date      2015-08-31
CODE            AMZN
1M_RET      0.958619
Name: 1424, dtype: object
Date      2015-09-30
CODE            AMZN
1M_RET       1.03091
Name: 1445, dtype: object
Date      2015-10-30
CODE            AMZN
1M_RET       1.20199
Name: 1467, dtype: object
Date      2015-11-30
CODE            AMZN
1M_RET       1.05801
Name: 1487, dtype: object
Date      2015-12-31
CODE            AMZN
1M_RET      0.995332
Name: 1509, dtype: object
Date      2016-01-29
CODE            AMZN
1M_RET      0.921522
Name: 1528, dtype: object
Date      2016-02-29
CODE            AMZN
1M_RET      0.961222
Name: 1548, dtype: object
Date      2016-03-31
CODE            AMZN
1M_RET       1.02521
Name: 1570, dtype: object
Date      2016-04-29
CODE            AMZN
1M_RET       1.10207
Name: 1591, dtype: object
Date      2016-05-31
CODE            AMZN
1M_RET       1.05694
Name: 1612, dtype: object
Date      2016-06-30
CODE            AMZN
1M_RET       0.99469
Name: 1634, dtype: object
Date      2016-07-29
CODE            AMZN
1M_RET       1.04565
Name: 1654, dtype: object
Date      2016-08-31
CODE            AMZN
1M_RET       1.00185
Name: 1677, dtype: object
Date      2016-09-30
CODE            AMZN
1M_RET       1.08654
Name: 1698, dtype: object
Date      2016-10-31
CODE            AMZN
1M_RET      0.943925
Name: 1719, dtype: object
Date      2016-11-30
CODE            AMZN
1M_RET      0.955641
Name: 1740, dtype: object
Date      2016-12-30
CODE            AMZN
1M_RET       1.00836
Name: 1761, dtype: object
Date      2017-01-31
CODE            AMZN
1M_RET       1.09263
Name: 1781, dtype: object
Date      2017-02-28
CODE            AMZN
1M_RET       1.01525
Name: 1800, dtype: object
Date      2017-03-31
CODE            AMZN
1M_RET       1.03922
Name: 1823, dtype: object
Date      2017-04-28
CODE            AMZN
1M_RET       1.03755
Name: 1842, dtype: object
Date      2017-05-31
CODE            AMZN
1M_RET       1.04892
Name: 1864, dtype: object
Date      2017-06-30
CODE            AMZN
1M_RET      0.971936
Name: 1886, dtype: object
Date      2017-07-31
CODE            AMZN
1M_RET       1.03578
Name: 1906, dtype: object
Date      2017-08-31
CODE            AMZN
1M_RET       0.98435
Name: 1929, dtype: object
Date      2017-09-29
CODE            AMZN
1M_RET      0.982724
Name: 1949, dtype: object
Date      2017-10-31
CODE            AMZN
1M_RET       1.15231
Name: 1971, dtype: object
Date      2017-11-30
CODE            AMZN
1M_RET       1.06621
Name: 1992, dtype: object
Date      2017-12-29
CODE            AMZN
1M_RET       1.00613
Name: 2012, dtype: object
Date      2018-01-31
CODE            AMZN
1M_RET       1.22025
Name: 2033, dtype: object
Date      2018-02-28
CODE            AMZN
1M_RET       1.08809
Name: 2052, dtype: object
Date      2018-03-29
CODE            AMZN
1M_RET      0.969125
Name: 2073, dtype: object
Date      2018-04-30
CODE            AMZN
1M_RET        1.1415
Name: 2094, dtype: object
Date      2018-05-31
CODE            AMZN
1M_RET       1.02993
Name: 2116, dtype: object
Date      2018-06-29
CODE            AMZN
1M_RET       1.03549
Name: 2137, dtype: object
Date      2018-07-31
CODE            AMZN
1M_RET       1.03715
Name: 2158, dtype: object
Date      2018-08-31
CODE            AMZN
1M_RET       1.11993
Name: 2181, dtype: object
Date      2018-09-28
CODE            AMZN
1M_RET      0.982099
Name: 2200, dtype: object
Date      2018-10-31
CODE            AMZN
1M_RET      0.797267
Name: 2223, dtype: object
Date      2018-11-30
CODE            AMZN
1M_RET       1.01479
Name: 2244, dtype: object
Date      2018-12-31
CODE            AMZN
1M_RET      0.847441
Name: 2263, dtype: object
Date      2019-01-31
CODE            AMZN
1M_RET       1.11669
Name: 2284, dtype: object
Date      2019-02-28
CODE            AMZN
1M_RET       1.00836
Name: 2303, dtype: object
Date      2019-03-29
CODE            AMZN
1M_RET       1.06521
Name: 2324, dtype: object
Date      2019-04-30
CODE            AMZN
1M_RET       1.06192

In [42]:
month_last_df.head(10)

           Date  CODE    1M_RET
18   2010-01-29  AAPL  0.897435
37   2010-02-26  AAPL  1.050789
60   2010-03-31  AAPL  1.124456
81   2010-04-30  AAPL  1.106454
101  2010-05-28  AAPL  0.964445
123  2010-06-30  AAPL  0.964345
144  2010-07-30  AAPL  1.035294
166  2010-08-31  AAPL  0.928395
187  2010-09-30  AAPL  1.133504
208  2010-10-29  AAPL  1.065340