In [409]:
import os
import pandas as pd
import numpy as np
import datetime
import glob

In [410]:
# 파일 목록 불러오기
files = glob.glob('./csv/*.csv')
files

['./csv\\AAPL.csv', './csv\\AMZN.csv', './csv\\BND.csv']

In [411]:
# 빈 데이터프레임 생성 컬럼만 지정
month_last_df = pd.DataFrame(columns=['Date', 'CODE', '1M_RET'])
month_last_df

Empty DataFrame
Columns: [Date, CODE, 1M_RET]
Index: []

In [412]:
# 종목 데이터프레임 생성
stock_df = pd.DataFrame(columns=['Date', 'CODE', 'Adj Close'])

In [413]:
for file in files:
    print('%s <DIR>'%file)

./csv\AAPL.csv <DIR>
./csv\AMZN.csv <DIR>
./csv\BND.csv <DIR>

In [414]:
for file in files:
    if os.path.isdir(file):
        print('%s <DIR>'%file)
    else:
        folder, name = os.path.split(file)
        head, tail = os.path.splitext(name)
        print(folder, name, head, tail)
        read_df = pd.read_csv(file)

        print(read_df.head(1))

./csv AAPL.csv AAPL .csv
         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
./csv AMZN.csv AMZN .csv
         Date    Open  High       Low     Close  Adj Close    Volume
0  1997-05-15  2.4375   2.5  1.927083  1.958333   1.958333  72156000
./csv BND.csv BND .csv
         Date   Open       High   Low      Close  Adj Close  Volume
0  2007-04-10  75.07  75.260002  75.0  75.239998  51.523693   35000

In [415]:
def data_preprocessing(sample, ticker, base_date):
    ## sample = AAPL.csv 읽은 후 데이터프레임화
    ## ticker = AAPL
    ## base_date = '2010-01-01'
    sample['CODE'] = ticker #종목코드 추가
    sample = sample[sample['Date'] >= base_date][['Date', 'CODE', 'Adj Close']]
    sample.reset_index(inplace=True, drop=True) 
    ## inplace=True 기준이 되는 데이터프레임을 수정
    ## drop=True 기존 인덱스를 삭제
    
    # 기준년월
    sample["STD-YM"] = sample['Date'].map(lambda x : \
        datetime.datetime.strptime(x, '%Y-%m-%d').strftime("%Y-%m"))
    # 수익률
    sample["1M_RET"] = 0.0      
    
    # 기준년월의 중복 데이터를 삭제한 리스트
    ym_keys = list(sample["STD-YM"].unique())

    return sample, ym_keys

In [416]:
df = pd.read_csv("./csv/AAPL.csv")
price_df, ym_keys = data_preprocessing(df, 'AAPL', '2010-01-01')
print(price_df)
print(ym_keys)

            Date  CODE   Adj Close   STD-YM  1M_RET
0     2010-01-04  AAPL   26.782711  2010-01     0.0
1     2010-01-05  AAPL   26.829010  2010-01     0.0
2     2010-01-06  AAPL   26.402260  2010-01     0.0
3     2010-01-07  AAPL   26.353460  2010-01     0.0
4     2010-01-08  AAPL   26.528664  2010-01     0.0
...          ...   ...         ...      ...     ...
2379  2019-06-18  AAPL  198.449997  2019-06     0.0
2380  2019-06-19  AAPL  197.869995  2019-06     0.0
2381  2019-06-20  AAPL  199.460007  2019-06     0.0
2382  2019-06-21  AAPL  198.779999  2019-06     0.0
2383  2019-06-24  AAPL  199.169998  2019-06     0.0

[2384 rows x 5 columns]
['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06']

In [417]:
def create_trade_book(sample, sample_codes):
    book = pd.DataFrame()
    book = sample[sample_codes]
    book["STD-YM"] = book.index.map(lambda x : \
        datetime.datetime.strptime(x, "%Y-%m-%d").strftime("%Y-%m"))
    for i in sample_codes:
        book['p '+i] = ""
        book["r "+i] = ""
    return book

In [418]:
## trading 함수 생성
def tradings(book, s_codes):
    std_ym = ""
    buy_phase = ""
    for i in s_codes:
        print(i)
        # 종목코드의 인덱스 반복
        for j in book.index:
            if book.loc[j, "p "+i] == "" and book.shift(1).loc[j, "p "+i] == "ready " + i:
                std_ym = book.loc[j, "STD-YM"]
                buy_phase = True
            if book.loc[j, "p "+i] == "" and book.loc[j, "STD-YM"] == std_ym and buy_phase == True:
                book.loc[j, "p "+i] = "buy " + i
                print(j)
            
            if book.loc[j, "p "+i] == "":
                std_ym = None
                buy_phase = False
    return book

In [419]:
def multi_returns(book, s_codes):
    rtn = 1.0
    buy_dict = {}
    num = len(s_codes)
    sell_dict = {}

    for i in book.index:
        for s in s_codes:
            if book.loc[i, 'p '+s] == "buy " + s and \
            book.shift(1).loc[i, "p "+s] == "ready " + s and \
            book.shift(2).loc[i, 'p '+s] == "":
                buy_dict[s] = book.loc[i, s]
                print("진입일 : ", i, '종목코드 : ', s, 'long 진입 가격 : ', buy_dict[s])
            elif book.loc[i, "p "+s] == "" and \
                book.shift(1).loc[i, "p "+s] == "buy "+s:
                sell_dict[s] = book.loc[i, s]
                #손익 계산
                rtn = (sell_dict[s] / buy_dict[s]) - 1
                book.loc[i, "r "+s] =rtn
                print("개별 청산일 : ", i, "종목코드 : ", s, "long 진입 가격 : ", \
                   buy_dict[s], "long 청산 가격 : ", sell_dict[s], "return : ", round(rtn*100, 2))
            
            if book.loc[i, "p " + s] == "":
                buy_dict[s] = 0.0
                sell_dict[s] = 0.0

    acc_rtn = 1.0
    for i in book.index:
        rtn = 0.0
        count = 0
        for s in s_codes:
            if book.loc[i, "p "+s] == "" and \
                book.shift(1).loc[i, "p "+s] == "buy "+s:
                count += 1  #count = count + 1
                rtn += book.loc[i, "r "+s]
        if (rtn != 0.0) and (count != 0):
            acc_rtn *= (rtn/count) + 1
            print("누적 청산일 : ", i, "청산 종목 수 : ", count, \
                "청산 수익율 : ", round((rtn/count), 4), "누적 수익율 : ", round(acc_rtn, 4))
            book.loc[i, "acc_rtn"] = acc_rtn
    print("누적 수익율 : ", round(acc_rtn, 4))

In [420]:
for file in files:
    if os.path.isdir(file):
        print('%s <DIR>'%file)
    else:
        ## file = "./csv\AAPL.csv"
        ## split() -> folder = "./csv", name = "AAPL.csv"
        ## splitext() - > head = "AAPL", tail = ".csv"
        folder, name = os.path.split(file)
        head, tail = os.path.splitext(name)
        # print(folder, name, head, tail)
        read_df = pd.read_csv(file)

        # print(read_df.head(1))
        price_df, ym_keys = data_preprocessing(read_df, head, "2010-01-01")

        stock_df = pd.concat([stock_df, price_df[["Date", "CODE", "Adj Close"]]])

        for ym in ym_keys:
            ## 기준년월 마지막 종가 / 기준년월 첫 종가
            # m_ret이라는 변수를 만들어서
            # ym = "2020-01"
            # price_df["STD-YM"] == "2020-01" -> STD-YM의 값이 2020-01이면 True 아니면 False
            # price_df[price_df["STD-YM"] == "2020-01"] -> []안의 조건식이 True 출력 False 미출력(필터)
            # price_df[price_df["STD-YM"] == "2020-01"].index[-1] -> 
            # STD-YM의 값이 2020-01인 값들 중에 가장 마지막에 있는 인덱스의 값
            # price_df.loc[index, column] -> 
            # index -> price_df[price_df["STD-YM"] == "2020-01"].index[-1]
            # column -> "Adj Close"
            # price_df.loc[price_df[price_df["STD-YM"] == "2020-01"].index[-1], 'Adj Close']
            # 결과적으로 price_df에 있는 STD-YM컬럼의 값이 
            # 2020-01인 행들 중에 가장 마지막에 있는 행의 Adj Close 값
            m_ret = price_df.loc[price_df[price_df["STD-YM"] == ym].index[-1], 'Adj Close'] \
                / price_df.loc[price_df[price_df["STD-YM"] == ym].index[0], 'Adj Close']
            price_df.loc[price_df['STD-YM'] == ym, ['1M_RET']] = m_ret
            
            month_last_df = month_last_df.append(\
                price_df.loc[price_df[price_df["STD-YM"] == ym].index[-1], ['Date', 'CODE', '1M_RET']])

In [421]:
month_ret_df = month_last_df.pivot('Date', 'CODE', '1M_RET')
month_ret_df

CODE            AAPL      AMZN       BND
Date
2010-01-29  0.897435  0.936595  1.011692
2010-02-26  1.050789  0.996046  1.003909
2010-03-31  1.124456  1.090172  0.996728
2010-04-30  1.106454  1.040134  1.011023
2010-05-28  0.964445  0.912503  1.011821
...              ...       ...       ...
2019-02-28  1.044274  1.008363  1.001883
2019-03-29  1.085615  1.065214  1.022547
2019-04-30  1.049310  1.061917  1.003719
2019-05-31  0.834810  0.928617  1.018200
2019-06-24  1.149279  1.127173  1.007778

[114 rows x 3 columns]

In [422]:
# 투자종목 선택할 rank
month_ret_df = month_ret_df.rank(axis=1, ascending=False, method="max", pct=True)
month_ret_df

CODE            AAPL      AMZN       BND
Date
2010-01-29  1.000000  0.666667  0.333333
2010-02-26  0.333333  1.000000  0.666667
2010-03-31  0.333333  0.666667  1.000000
2010-04-30  0.333333  0.666667  1.000000
2010-05-28  0.666667  1.000000  0.333333
...              ...       ...       ...
2019-02-28  0.333333  0.666667  1.000000
2019-03-29  0.333333  0.666667  1.000000
2019-04-30  0.666667  0.333333  1.000000
2019-05-31  1.000000  0.666667  0.333333
2019-06-24  0.333333  0.666667  1.000000

[114 rows x 3 columns]

In [423]:
# 상위 40%에 드는 종목을 체크
month_ret_df = month_ret_df.where(month_ret_df < 0.4, np.nan).fillna(0)
month_ret_df[month_ret_df != 0] = 1
month_ret_df

CODE        AAPL  AMZN  BND
Date
2010-01-29   0.0   0.0  1.0
2010-02-26   1.0   0.0  0.0
2010-03-31   1.0   0.0  0.0
2010-04-30   1.0   0.0  0.0
2010-05-28   0.0   0.0  1.0
...          ...   ...  ...
2019-02-28   1.0   0.0  0.0
2019-03-29   1.0   0.0  0.0
2019-04-30   0.0   1.0  0.0
2019-05-31   0.0   0.0  1.0
2019-06-24   1.0   0.0  0.0

[114 rows x 3 columns]

In [424]:
stock_list = list(stock_df["CODE"].unique())
stock_list

['AAPL', 'AMZN', 'BND']

In [425]:
stock_c_matrix.head(1)

CODE             AAPL        AMZN        BND
Date
2010-01-04  26.782711  133.899994  60.611969

In [426]:
# 비어있는 딕셔너리 형태 데이터
sig_dict = dict()
for date in month_ret_df.index:
    ticker_list = list(month_ret_df.loc[date, month_ret_df.loc[date, :] >= 1.0].index)
    # 날짜별로 종목코드 저장
    sig_dict[date] = ticker_list
stock_c_matrix = stock_df.pivot('Date', 'CODE', 'Adj Close')
book = create_trade_book(stock_c_matrix, stock_list)
book.head()

CODE,AAPL,AMZN,BND,STD-YM,p AAPL,r AAPL,p AMZN,r AMZN,p BND,r BND
Date,,,,,,,,,,
2010-01-04,26.782711,133.899994,60.611969,2010-01,,,,,,
2010-01-05,26.829010,134.690002,60.789135,2010-01,,,,,,
2010-01-06,26.402260,132.250000,60.766037,2010-01,,,,,,
2010-01-07,26.353460,130.000000,60.719822,2010-01,,,,,,
2010-01-08,26.528664,133.520004,60.781410,2010-01,,,,,,

In [427]:
for date, values in sig_dict.items():
    for stock in values:
        book.loc[date, "p "+stock] = "ready " + stock

## 반복문이 처음 시작하는 경우
## date = 2010-01-29
## values = ['BND']
## stock = 'BND'
## bool.loc["2010-01-29", "p BND"] = "readyBND"
book.value_counts("p AAPL")

p AAPL
              2345
ready AAPL      39
dtype: int64

In [428]:
stock_list

['AAPL', 'AMZN', 'BND']

In [429]:
book = tradings(book, stock_list)

AAPL
2010-03-01
2010-03-02
2010-03-03
2010-03-04
2010-03-05
2010-03-08
2010-03-09
2010-03-10
2010-03-11
2010-03-12
2010-03-15
2010-03-16
2010-03-17
2010-03-18
2010-03-19
2010-03-22
2010-03-23
2010-03-24
2010-03-25
2010-03-26
2010-03-29
2010-03-30
2010-04-01
2010-04-05
2010-04-06
2010-04-07
2010-04-08
2010-04-09
2010-04-12
2010-04-13
2010-04-14
2010-04-15
2010-04-16
2010-04-19
2010-04-20
2010-04-21
2010-04-22
2010-04-23
2010-04-26
2010-04-27
2010-04-28
2010-04-29
2010-05-03
2010-05-04
2010-05-05
2010-05-06
2010-05-07
2010-05-10
2010-05-11
2010-05-12
2010-05-13
2010-05-14
2010-05-17
2010-05-18
2010-05-19
2010-05-20
2010-05-21
2010-05-24
2010-05-25
2010-05-26
2010-05-27
2010-05-28
2011-02-01
2011-02-02
2011-02-03
2011-02-04
2011-02-07
2011-02-08
2011-02-09
2011-02-10
2011-02-11
2011-02-14
2011-02-15
2011-02-16
2011-02-17
2011-02-18
2011-02-22
2011-02-23
2011-02-24
2011-02-25
2011-03-01
2011-03-02
2011-03-03
2011-03-04
2011-03-07
2011-03-08
2011-03-09
2011-03-10
2011-03-11
2011-03-14
2011-03-15
2011-03-16
2011-03-17
2011-03-18
2011-03-21
2011-03-22
2011-03-23
2011-03-24
2011-03-25
2011-03-28
2011-03-29
2011-03-30
2011-03-31
2011-08-01
2011-08-02
2011-08-03
2011-08-04
2011-08-05
2011-08-08
2011-08-09
2011-08-10
2011-08-11
2011-08-12
2011-08-15
2011-08-16
2011-08-17
2011-08-18
2011-08-19
2011-08-22
2011-08-23
2011-08-24
2011-08-25
2011-08-26
2011-08-29
2011-08-30
2011-08-31
2011-11-01
2011-11-02
2011-11-03
2011-11-04
2011-11-07
2011-11-08
2011-11-09
2011-11-10
2011-11-11
2011-11-14
2011-11-15
2011-11-16
2011-11-17
2011-11-18
2011-11-21
2011-11-22
2011-11-23
2011-11-25
2011-11-28
2011-11-29
2011-11-30
2012-01-03
2012-01-04
2012-01-05
2012-01-06
2012-01-09
2012-01-10
2012-01-11
2012-01-12
2012-01-13
2012-01-17
2012-01-18
2012-01-19
2012-01-20
2012-01-23
2012-01-24
2012-01-25
2012-01-26
2012-01-27
2012-01-30
2012-02-01
2012-02-02
2012-02-03
2012-02-06
2012-02-07
2012-02-08
2012-02-09
2012-02-10
2012-02-13
2012-02-14
2012-02-15
2012-02-16
2012-02-17
2012-02-21
2012-02-22
2012-02-23
2012-02-24
2012-02-27
2012-02-28
2012-03-01
2012-03-02
2012-03-05
2012-03-06
2012-03-07
2012-03-08
2012-03-09
2012-03-12
2012-03-13
2012-03-14
2012-03-15
2012-03-16
2012-03-19
2012-03-20
2012-03-21
2012-03-22
2012-03-23
2012-03-26
2012-03-27
2012-03-28
2012-03-29
2012-03-30
2012-08-01
2012-08-02
2012-08-03
2012-08-06
2012-08-07
2012-08-08
2012-08-09
2012-08-10
2012-08-13
2012-08-14
2012-08-15
2012-08-16
2012-08-17
2012-08-20
2012-08-21
2012-08-22
2012-08-23
2012-08-24
2012-08-27
2012-08-28
2012-08-29
2012-08-30
2012-09-04
2012-09-05
2012-09-06
2012-09-07
2012-09-10
2012-09-11
2012-09-12
2012-09-13
2012-09-14
2012-09-17
2012-09-18
2012-09-19
2012-09-20
2012-09-21
2012-09-24
2012-09-25
2012-09-26
2012-09-27
2012-09-28
2013-04-01
2013-04-02
2013-04-03
2013-04-04
2013-04-05
2013-04-08
2013-04-09
2013-04-10
2013-04-11
2013-04-12
2013-04-15
2013-04-16
2013-04-17
2013-04-18
2013-04-19
2013-04-22
2013-04-23
2013-04-24
2013-04-25
2013-04-26
2013-04-29
2013-05-01
2013-05-02
2013-05-03
2013-05-06
2013-05-07
2013-05-08
2013-05-09
2013-05-10
2013-05-13
2013-05-14
2013-05-15
2013-05-16
2013-05-17
2013-05-20
2013-05-21
2013-05-22
2013-05-23
2013-05-24
2013-05-28
2013-05-29
2013-05-30
2013-05-31
2013-08-01
2013-08-02
2013-08-05
2013-08-06
2013-08-07
2013-08-08
2013-08-09
2013-08-12
2013-08-13
2013-08-14
2013-08-15
2013-08-16
2013-08-19
2013-08-20
2013-08-21
2013-08-22
2013-08-23
2013-08-26
2013-08-27
2013-08-28
2013-08-29
2013-09-03
2013-09-04
2013-09-05
2013-09-06
2013-09-09
2013-09-10
2013-09-11
2013-09-12
2013-09-13
2013-09-16
2013-09-17
2013-09-18
2013-09-19
2013-09-20
2013-09-23
2013-09-24
2013-09-25
2013-09-26
2013-09-27
2013-09-30
2014-01-02
2014-01-03
2014-01-06
2014-01-07
2014-01-08
2014-01-09
2014-01-10
2014-01-13
2014-01-14
2014-01-15
2014-01-16
2014-01-17
2014-01-21
2014-01-22
2014-01-23
2014-01-24
2014-01-27
2014-01-28
2014-01-29
2014-01-30
2014-01-31
2014-03-03
2014-03-04
2014-03-05
2014-03-06
2014-03-07
2014-03-10
2014-03-11
2014-03-12
2014-03-13
2014-03-14
2014-03-17
2014-03-18
2014-03-19
2014-03-20
2014-03-21
2014-03-24
2014-03-25
2014-03-26
2014-03-27
2014-03-28
2014-04-01
2014-04-02
2014-04-03
2014-04-04
2014-04-07
2014-04-08
2014-04-09
2014-04-10
2014-04-11
2014-04-14
2014-04-15
2014-04-16
2014-04-17
2014-04-21
2014-04-22
2014-04-23
2014-04-24
2014-04-25
2014-04-28
2014-04-29
2014-05-01
2014-05-02
2014-05-05
2014-05-06
2014-05-07
2014-05-08
2014-05-09
2014-05-12
2014-05-13
2014-05-14
2014-05-15
2014-05-16
2014-05-19
2014-05-20
2014-05-21
2014-05-22
2014-05-23
2014-05-27
2014-05-28
2014-05-29
2014-06-02
2014-06-03
2014-06-04
2014-06-05
2014-06-06
2014-06-09
2014-06-10
2014-06-11
2014-06-12
2014-06-13
2014-06-16
2014-06-17
2014-06-18
2014-06-19
2014-06-20
2014-06-23
2014-06-24
2014-06-25
2014-06-26
2014-06-27
2014-06-30
2014-08-01
2014-08-04
2014-08-05
2014-08-06
2014-08-07
2014-08-08
2014-08-11
2014-08-12
2014-08-13
2014-08-14
2014-08-15
2014-08-18
2014-08-19
2014-08-20
2014-08-21
2014-08-22
2014-08-25
2014-08-26
2014-08-27
2014-08-28
2014-08-29
2014-11-03
2014-11-04
2014-11-05
2014-11-06
2014-11-07
2014-11-10
2014-11-11
2014-11-12
2014-11-13
2014-11-14
2014-11-17
2014-11-18
2014-11-19
2014-11-20
2014-11-21
2014-11-24
2014-11-25
2014-11-26
2014-11-28
2015-03-02
2015-03-03
2015-03-04
2015-03-05
2015-03-06
2015-03-09
2015-03-10
2015-03-11
2015-03-12
2015-03-13
2015-03-16
2015-03-17
2015-03-18
2015-03-19
2015-03-20
2015-03-23
2015-03-24
2015-03-25
2015-03-26
2015-03-27
2015-03-30
2015-03-31
2016-04-01
2016-04-04
2016-04-05
2016-04-06
2016-04-07
2016-04-08
2016-04-11
2016-04-12
2016-04-13
2016-04-14
2016-04-15
2016-04-18
2016-04-19
2016-04-20
2016-04-21
2016-04-22
2016-04-25
2016-04-26
2016-04-27
2016-04-28
2016-04-29
2016-06-01
2016-06-02
2016-06-03
2016-06-06
2016-06-07
2016-06-08
2016-06-09
2016-06-10
2016-06-13
2016-06-14
2016-06-15
2016-06-16
2016-06-17
2016-06-20
2016-06-21
2016-06-22
2016-06-23
2016-06-24
2016-06-27
2016-06-28
2016-06-29
2016-06-30
2016-08-01
2016-08-02
2016-08-03
2016-08-04
2016-08-05
2016-08-08
2016-08-09
2016-08-10
2016-08-11
2016-08-12
2016-08-15
2016-08-16
2016-08-17
2016-08-18
2016-08-19
2016-08-22
2016-08-23
2016-08-24
2016-08-25
2016-08-26
2016-08-29
2016-08-30
2016-09-01
2016-09-02
2016-09-06
2016-09-07
2016-09-08
2016-09-09
2016-09-12
2016-09-13
2016-09-14
2016-09-15
2016-09-16
2016-09-19
2016-09-20
2016-09-21
2016-09-22
2016-09-23
2016-09-26
2016-09-27
2016-09-28
2016-09-29
2016-09-30
2016-11-01
2016-11-02
2016-11-03
2016-11-04
2016-11-07
2016-11-08
2016-11-09
2016-11-10
2016-11-11
2016-11-14
2016-11-15
2016-11-16
2016-11-17
2016-11-18
2016-11-21
2016-11-22
2016-11-23
2016-11-25
2016-11-28
2016-11-29
2016-12-01
2016-12-02
2016-12-05
2016-12-06
2016-12-07
2016-12-08
2016-12-09
2016-12-12
2016-12-13
2016-12-14
2016-12-15
2016-12-16
2016-12-19
2016-12-20
2016-12-21
2016-12-22
2016-12-23
2016-12-27
2016-12-28
2016-12-29
2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-01-09
2017-01-10
2017-01-11
2017-01-12
2017-01-13
2017-01-17
2017-01-18
2017-01-19
2017-01-20
2017-01-23
2017-01-24
2017-01-25
2017-01-26
2017-01-27
2017-01-30
2017-01-31
2017-03-01
2017-03-02
2017-03-03
2017-03-06
2017-03-07
2017-03-08
2017-03-09
2017-03-10
2017-03-13
2017-03-14
2017-03-15
2017-03-16
2017-03-17
2017-03-20
2017-03-21
2017-03-22
2017-03-23
2017-03-24
2017-03-27
2017-03-28
2017-03-29
2017-03-30
2017-03-31
2017-08-01
2017-08-02
2017-08-03
2017-08-04
2017-08-07
2017-08-08
2017-08-09
2017-08-10
2017-08-11
2017-08-14
2017-08-15
2017-08-16
2017-08-17
2017-08-18
2017-08-21
2017-08-22
2017-08-23
2017-08-24
2017-08-25
2017-08-28
2017-08-29
2017-08-30
2017-09-01
2017-09-05
2017-09-06
2017-09-07
2017-09-08
2017-09-11
2017-09-12
2017-09-13
2017-09-14
2017-09-15
2017-09-18
2017-09-19
2017-09-20
2017-09-21
2017-09-22
2017-09-25
2017-09-26
2017-09-27
2017-09-28
2017-09-29
2018-06-01
2018-06-04
2018-06-05
2018-06-06
2018-06-07
2018-06-08
2018-06-11
2018-06-12
2018-06-13
2018-06-14
2018-06-15
2018-06-18
2018-06-19
2018-06-20
2018-06-21
2018-06-22
2018-06-25
2018-06-26
2018-06-27
2018-06-28
2018-06-29
2018-09-04
2018-09-05
2018-09-06
2018-09-07
2018-09-10
2018-09-11
2018-09-12
2018-09-13
2018-09-14
2018-09-17
2018-09-18
2018-09-19
2018-09-20
2018-09-21
2018-09-24
2018-09-25
2018-09-26
2018-09-27
2018-09-28
2019-03-01
2019-03-04
2019-03-05
2019-03-06
2019-03-07
2019-03-08
2019-03-11
2019-03-12
2019-03-13
2019-03-14
2019-03-15
2019-03-18
2019-03-19
2019-03-20
2019-03-21
2019-03-22
2019-03-25
2019-03-26
2019-03-27
2019-03-28
2019-04-01
2019-04-02
2019-04-03
2019-04-04
2019-04-05
2019-04-08
2019-04-09
2019-04-10
2019-04-11
2019-04-12
2019-04-15
2019-04-16
2019-04-17
2019-04-18
2019-04-22
2019-04-23
2019-04-24
2019-04-25
2019-04-26
2019-04-29
2019-04-30
AMZN
2010-08-02
2010-08-03
2010-08-04
2010-08-05
2010-08-06
2010-08-09
2010-08-10
2010-08-11
2010-08-12
2010-08-13
2010-08-16
2010-08-17
2010-08-18
2010-08-19
2010-08-20
2010-08-23
2010-08-24
2010-08-25
2010-08-26
2010-08-27
2010-08-30
2010-09-01
2010-09-02
2010-09-03
2010-09-07
2010-09-08
2010-09-09
2010-09-10
2010-09-13
2010-09-14
2010-09-15
2010-09-16
2010-09-17
2010-09-20
2010-09-21
2010-09-22
2010-09-23
2010-09-24
2010-09-27
2010-09-28
2010-09-29
2010-10-01
2010-10-04
2010-10-05
2010-10-06
2010-10-07
2010-10-08
2010-10-11
2010-10-12
2010-10-13
2010-10-14
2010-10-15
2010-10-18
2010-10-19
2010-10-20
2010-10-21
2010-10-22
2010-10-25
2010-10-26
2010-10-27
2010-10-28
2010-11-01
2010-11-02
2010-11-03
2010-11-04
2010-11-05
2010-11-08
2010-11-09
2010-11-10
2010-11-11
2010-11-12
2010-11-15
2010-11-16
2010-11-17
2010-11-18
2010-11-19
2010-11-22
2010-11-23
2010-11-24
2010-11-26
2010-11-29
2010-12-01
2010-12-02
2010-12-03
2010-12-06
2010-12-07
2010-12-08
2010-12-09
2010-12-10
2010-12-13
2010-12-14
2010-12-15
2010-12-16
2010-12-17
2010-12-20
2010-12-21
2010-12-22
2010-12-23
2010-12-27
2010-12-28
2010-12-29
2010-12-30
2011-01-03
2011-01-04
2011-01-05
2011-01-06
2011-01-07
2011-01-10
2011-01-11
2011-01-12
2011-01-13
2011-01-14
2011-01-18
2011-01-19
2011-01-20
2011-01-21
2011-01-24
2011-01-25
2011-01-26
2011-01-27
2011-01-28
2011-01-31
2011-04-01
2011-04-04
2011-04-05
2011-04-06
2011-04-07
2011-04-08
2011-04-11
2011-04-12
2011-04-13
2011-04-14
2011-04-15
2011-04-18
2011-04-19
2011-04-20
2011-04-21
2011-04-25
2011-04-26
2011-04-27
2011-04-28
2011-05-02
2011-05-03
2011-05-04
2011-05-05
2011-05-06
2011-05-09
2011-05-10
2011-05-11
2011-05-12
2011-05-13
2011-05-16
2011-05-17
2011-05-18
2011-05-19
2011-05-20
2011-05-23
2011-05-24
2011-05-25
2011-05-26
2011-05-27
2011-05-31
2011-07-01
2011-07-05
2011-07-06
2011-07-07
2011-07-08
2011-07-11
2011-07-12
2011-07-13
2011-07-14
2011-07-15
2011-07-18
2011-07-19
2011-07-20
2011-07-21
2011-07-22
2011-07-25
2011-07-26
2011-07-27
2011-07-28
2011-07-29
2011-10-03
2011-10-04
2011-10-05
2011-10-06
2011-10-07
2011-10-10
2011-10-11
2011-10-12
2011-10-13
2011-10-14
2011-10-17
2011-10-18
2011-10-19
2011-10-20
2011-10-21
2011-10-24
2011-10-25
2011-10-26
2011-10-27
2011-10-28
2011-10-31
2012-04-02
2012-04-03
2012-04-04
2012-04-05
2012-04-09
2012-04-10
2012-04-11
2012-04-12
2012-04-13
2012-04-16
2012-04-17
2012-04-18
2012-04-19
2012-04-20
2012-04-23
2012-04-24
2012-04-25
2012-04-26
2012-04-27
2012-05-01
2012-05-02
2012-05-03
2012-05-04
2012-05-07
2012-05-08
2012-05-09
2012-05-10
2012-05-11
2012-05-14
2012-05-15
2012-05-16
2012-05-17
2012-05-18
2012-05-21
2012-05-22
2012-05-23
2012-05-24
2012-05-25
2012-05-29
2012-05-30
2012-05-31
2012-07-02
2012-07-03
2012-07-05
2012-07-06
2012-07-09
2012-07-10
2012-07-11
2012-07-12
2012-07-13
2012-07-16
2012-07-17
2012-07-18
2012-07-19
2012-07-20
2012-07-23
2012-07-24
2012-07-25
2012-07-26
2012-07-27
2012-07-30
2012-07-31
2012-10-01
2012-10-02
2012-10-03
2012-10-04
2012-10-05
2012-10-08
2012-10-09
2012-10-10
2012-10-11
2012-10-12
2012-10-15
2012-10-16
2012-10-17
2012-10-18
2012-10-19
2012-10-22
2012-10-23
2012-10-24
2012-10-25
2012-10-26
2012-10-31
2012-12-03
2012-12-04
2012-12-05
2012-12-06
2012-12-07
2012-12-10
2012-12-11
2012-12-12
2012-12-13
2012-12-14
2012-12-17
2012-12-18
2012-12-19
2012-12-20
2012-12-21
2012-12-24
2012-12-26
2012-12-27
2012-12-28
2013-01-02
2013-01-03
2013-01-04
2013-01-07
2013-01-08
2013-01-09
2013-01-10
2013-01-11
2013-01-14
2013-01-15
2013-01-16
2013-01-17
2013-01-18
2013-01-22
2013-01-23
2013-01-24
2013-01-25
2013-01-28
2013-01-29
2013-01-30
2013-02-01
2013-02-04
2013-02-05
2013-02-06
2013-02-07
2013-02-08
2013-02-11
2013-02-12
2013-02-13
2013-02-14
2013-02-15
2013-02-19
2013-02-20
2013-02-21
2013-02-22
2013-02-25
2013-02-26
2013-02-27
2013-02-28
2013-06-03
2013-06-04
2013-06-05
2013-06-06
2013-06-07
2013-06-10
2013-06-11
2013-06-12
2013-06-13
2013-06-14
2013-06-17
2013-06-18
2013-06-19
2013-06-20
2013-06-21
2013-06-24
2013-06-25
2013-06-26
2013-06-27
2013-07-01
2013-07-02
2013-07-03
2013-07-05
2013-07-08
2013-07-09
2013-07-10
2013-07-11
2013-07-12
2013-07-15
2013-07-16
2013-07-17
2013-07-18
2013-07-19
2013-07-22
2013-07-23
2013-07-24
2013-07-25
2013-07-26
2013-07-29
2013-07-30
2013-07-31
2013-10-01
2013-10-02
2013-10-03
2013-10-04
2013-10-07
2013-10-08
2013-10-09
2013-10-10
2013-10-11
2013-10-14
2013-10-15
2013-10-16
2013-10-17
2013-10-18
2013-10-21
2013-10-22
2013-10-23
2013-10-24
2013-10-25
2013-10-28
2013-10-29
2013-10-30
2013-11-01
2013-11-04
2013-11-05
2013-11-06
2013-11-07
2013-11-08
2013-11-11
2013-11-12
2013-11-13
2013-11-14
2013-11-15
2013-11-18
2013-11-19
2013-11-20
2013-11-21
2013-11-22
2013-11-25
2013-11-26
2013-11-27
2013-12-02
2013-12-03
2013-12-04
2013-12-05
2013-12-06
2013-12-09
2013-12-10
2013-12-11
2013-12-12
2013-12-13
2013-12-16
2013-12-17
2013-12-18
2013-12-19
2013-12-20
2013-12-23
2013-12-24
2013-12-26
2013-12-27
2013-12-30
2013-12-31
2014-07-01
2014-07-02
2014-07-03
2014-07-07
2014-07-08
2014-07-09
2014-07-10
2014-07-11
2014-07-14
2014-07-15
2014-07-16
2014-07-17
2014-07-18
2014-07-21
2014-07-22
2014-07-23
2014-07-24
2014-07-25
2014-07-28
2014-07-29
2014-07-30
2014-07-31
2014-09-02
2014-09-03
2014-09-04
2014-09-05
2014-09-08
2014-09-09
2014-09-10
2014-09-11
2014-09-12
2014-09-15
2014-09-16
2014-09-17
2014-09-18
2014-09-19
2014-09-22
2014-09-23
2014-09-24
2014-09-25
2014-09-26
2014-09-29
2014-09-30
2014-12-01
2014-12-02
2014-12-03
2014-12-04
2014-12-05
2014-12-08
2014-12-09
2014-12-10
2014-12-11
2014-12-12
2014-12-15
2014-12-16
2014-12-17
2014-12-18
2014-12-19
2014-12-22
2014-12-23
2014-12-24
2014-12-26
2014-12-29
2014-12-30
2014-12-31
2015-02-02
2015-02-03
2015-02-04
2015-02-05
2015-02-06
2015-02-09
2015-02-10
2015-02-11
2015-02-12
2015-02-13
2015-02-17
2015-02-18
2015-02-19
2015-02-20
2015-02-23
2015-02-24
2015-02-25
2015-02-26
2015-02-27
2015-05-01
2015-05-04
2015-05-05
2015-05-06
2015-05-07
2015-05-08
2015-05-11
2015-05-12
2015-05-13
2015-05-14
2015-05-15
2015-05-18
2015-05-19
2015-05-20
2015-05-21
2015-05-22
2015-05-26
2015-05-27
2015-05-28
2015-06-01
2015-06-02
2015-06-03
2015-06-04
2015-06-05
2015-06-08
2015-06-09
2015-06-10
2015-06-11
2015-06-12
2015-06-15
2015-06-16
2015-06-17
2015-06-18
2015-06-19
2015-06-22
2015-06-23
2015-06-24
2015-06-25
2015-06-26
2015-06-29
2015-07-01
2015-07-02
2015-07-06
2015-07-07
2015-07-08
2015-07-09
2015-07-10
2015-07-13
2015-07-14
2015-07-15
2015-07-16
2015-07-17
2015-07-20
2015-07-21
2015-07-22
2015-07-23
2015-07-24
2015-07-27
2015-07-28
2015-07-29
2015-07-30
2015-08-03
2015-08-04
2015-08-05
2015-08-06
2015-08-07
2015-08-10
2015-08-11
2015-08-12
2015-08-13
2015-08-14
2015-08-17
2015-08-18
2015-08-19
2015-08-20
2015-08-21
2015-08-24
2015-08-25
2015-08-26
2015-08-27
2015-08-28
2015-08-31
2015-10-01
2015-10-02
2015-10-05
2015-10-06
2015-10-07
2015-10-08
2015-10-09
2015-10-12
2015-10-13
2015-10-14
2015-10-15
2015-10-16
2015-10-19
2015-10-20
2015-10-21
2015-10-22
2015-10-23
2015-10-26
2015-10-27
2015-10-28
2015-10-29
2015-11-02
2015-11-03
2015-11-04
2015-11-05
2015-11-06
2015-11-09
2015-11-10
2015-11-11
2015-11-12
2015-11-13
2015-11-16
2015-11-17
2015-11-18
2015-11-19
2015-11-20
2015-11-23
2015-11-24
2015-11-25
2015-11-27
2015-12-01
2015-12-02
2015-12-03
2015-12-04
2015-12-07
2015-12-08
2015-12-09
2015-12-10
2015-12-11
2015-12-14
2015-12-15
2015-12-16
2015-12-17
2015-12-18
2015-12-21
2015-12-22
2015-12-23
2015-12-24
2015-12-28
2015-12-29
2015-12-30
2016-01-04
2016-01-05
2016-01-06
2016-01-07
2016-01-08
2016-01-11
2016-01-12
2016-01-13
2016-01-14
2016-01-15
2016-01-19
2016-01-20
2016-01-21
2016-01-22
2016-01-25
2016-01-26
2016-01-27
2016-01-28
2016-01-29
2016-05-02
2016-05-03
2016-05-04
2016-05-05
2016-05-06
2016-05-09
2016-05-10
2016-05-11
2016-05-12
2016-05-13
2016-05-16
2016-05-17
2016-05-18
2016-05-19
2016-05-20
2016-05-23
2016-05-24
2016-05-25
2016-05-26
2016-05-27
2016-05-31
2016-10-03
2016-10-04
2016-10-05
2016-10-06
2016-10-07
2016-10-10
2016-10-11
2016-10-12
2016-10-13
2016-10-14
2016-10-17
2016-10-18
2016-10-19
2016-10-20
2016-10-21
2016-10-24
2016-10-25
2016-10-26
2016-10-27
2016-10-28
2016-10-31
2017-02-01
2017-02-02
2017-02-03
2017-02-06
2017-02-07
2017-02-08
2017-02-09
2017-02-10
2017-02-13
2017-02-14
2017-02-15
2017-02-16
2017-02-17
2017-02-21
2017-02-22
2017-02-23
2017-02-24
2017-02-27
2017-02-28
2017-04-03
2017-04-04
2017-04-05
2017-04-06
2017-04-07
2017-04-10
2017-04-11
2017-04-12
2017-04-13
2017-04-17
2017-04-18
2017-04-19
2017-04-20
2017-04-21
2017-04-24
2017-04-25
2017-04-26
2017-04-27
2017-05-01
2017-05-02
2017-05-03
2017-05-04
2017-05-05
2017-05-08
2017-05-09
2017-05-10
2017-05-11
2017-05-12
2017-05-15
2017-05-16
2017-05-17
2017-05-18
2017-05-19
2017-05-22
2017-05-23
2017-05-24
2017-05-25
2017-05-26
2017-05-30
2017-06-01
2017-06-02
2017-06-05
2017-06-06
2017-06-07
2017-06-08
2017-06-09
2017-06-12
2017-06-13
2017-06-14
2017-06-15
2017-06-16
2017-06-19
2017-06-20
2017-06-21
2017-06-22
2017-06-23
2017-06-26
2017-06-27
2017-06-28
2017-06-29
2017-06-30
2017-11-01
2017-11-02
2017-11-03
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-13
2017-11-14
2017-11-15
2017-11-16
2017-11-17
2017-11-20
2017-11-21
2017-11-22
2017-11-24
2017-11-27
2017-11-28
2017-11-29
2017-12-01
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-26
2017-12-27
2017-12-28
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-29
2018-01-30
2018-02-01
2018-02-02
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-12
2018-02-13
2018-02-14
2018-02-15
2018-02-16
2018-02-20
2018-02-21
2018-02-22
2018-02-23
2018-02-26
2018-02-27
2018-03-01
2018-03-02
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-05-01
2018-05-02
2018-05-03
2018-05-04
2018-05-07
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-21
2018-05-22
2018-05-23
2018-05-24
2018-05-25
2018-05-29
2018-05-30
2018-05-31
2018-07-02
2018-07-03
2018-07-05
2018-07-06
2018-07-09
2018-07-10
2018-07-11
2018-07-12
2018-07-13
2018-07-16
2018-07-17
2018-07-18
2018-07-19
2018-07-20
2018-07-23
2018-07-24
2018-07-25
2018-07-26
2018-07-27
2018-07-30
2018-08-01
2018-08-02
2018-08-03
2018-08-06
2018-08-07
2018-08-08
2018-08-09
2018-08-10
2018-08-13
2018-08-14
2018-08-15
2018-08-16
2018-08-17
2018-08-20
2018-08-21
2018-08-22
2018-08-23
2018-08-24
2018-08-27
2018-08-28
2018-08-29
2018-08-30
2018-08-31
2018-12-03
2018-12-04
2018-12-06
2018-12-07
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-24
2018-12-26
2018-12-27
2018-12-28
2018-12-31
2019-02-01
2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-11
2019-02-12
2019-02-13
2019-02-14
2019-02-15
2019-02-19
2019-02-20
2019-02-21
2019-02-22
2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-05-01
2019-05-02
2019-05-03
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-13
2019-05-14
2019-05-15
2019-05-16
2019-05-17

In [437]:
book[book["p AAPL"] != ""]

CODE,AAPL,AMZN,BND,STD-YM,p AAPL,r AAPL,p AMZN,r AMZN,p BND,r BND,acc_rtn
Date,,,,,,,,,,,
2010-02-26,25.607582,118.400002,61.520061,2010-02,ready AAPL,,,,buy BND,,NaN
2010-03-01,26.154476,124.540001,61.585163,2010-03,buy AAPL,,,,,0.00497183,1.004972
2010-03-02,26.136955,125.529999,61.631660,2010-03,buy AAPL,,,,,,NaN
2010-03-03,26.197020,125.889999,61.639446,2010-03,buy AAPL,,,,,,NaN
2010-03-04,26.369726,128.529999,61.685913,2010-03,buy AAPL,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2019-04-25,204.492508,1902.250000,80.258209,2019-04,buy AAPL,,,,,,NaN
2019-04-26,203.516266,1950.630005,80.436928,2019-04,buy AAPL,,,,,,NaN
2019-04-29,203.825073,1938.430054,80.268127,2019-04,buy AAPL,,,,,,NaN
2019-04-30,199.900192,1926.520020,80.387283,2019-04,buy AAPL,,ready AMZN,,,,NaN
2019-06-24,199.169998,1907.953857,82.726349,2019-06,ready AAPL,,,,buy BND,,NaN

In [ ]:
multi_returns(book, stock_list)

61.280487
26.154476000000003
62.79006999999999
120.07
43.179466
180.130005
66.480408
209.490005
49.652069
68.38459
211.979996
49.622044
68.562042
51.464207
198.050003
71.17840600000001
229.32000699999998
75.94046
252.00999500000003
71.91355899999999
250.330002
71.360786
54.46909
266.880005
58.37959300000001
320.950012
71.591667
70.937912
68.716904
332.390015
88.105499
342.380005
72.65773
100.766525
326.0
73.617195
364.47000099999997
119.88951899999999
74.701561
422.869995
73.615601
520.719971
74.202827
104.04441800000001
683.849976
93.70474200000001
77.698959
100.928177
836.73999
106.680237
832.349976
135.028976
891.51001
76.933464
145.53784199999998
77.825485
1103.680054
76.91954
1582.26001
187.387604
1713.780029
225.72489900000002
76.678947
1772.359985
78.23925799999999
1626.22998
174.29878200000002
1911.52002
82.087845
누적 청산일 :  2010-03-01 청산 종목 수 :  1 청산 수익율 :  0.005 누적 수익율 :  1.005
누적 청산일 :  2010-06-01 청산 종목 수 :  1 청산 수익율 :  0.248 누적 수익율 :  1.2543
누적 청산일 :  2010-08-02 청산 종목 수 :  1 청산 수익율 :  0.0222 누적 수익율 :  1.2821
누적 청산일 :  2011-02-01 청산 종목 수 :  1 청산 수익율 :  0.4334 누적 수익율 :  1.8378
누적 청산일 :  2011-04-01 청산 종목 수 :  1 청산 수익율 :  -0.0014 누적 수익율 :  1.8353
누적 청산일 :  2011-06-01 청산 종목 수 :  1 청산 수익율 :  0.0681 누적 수익율 :  1.9603
누적 청산일 :  2011-07-01 청산 종목 수 :  1 청산 수익율 :  -0.0081 누적 수익율 :  1.9444
누적 청산일 :  2011-08-01 청산 종목 수 :  1 청산 수익율 :  0.0565 누적 수익율 :  2.0542
누적 청산일 :  2011-09-01 청산 종목 수 :  1 청산 수익율 :  -0.0396 누적 수익율 :  1.9728
누적 청산일 :  2011-10-03 청산 종목 수 :  1 청산 수익율 :  0.0081 누적 수익율 :  1.9888
누적 청산일 :  2011-11-01 청산 종목 수 :  1 청산 수익율 :  0.0006 누적 수익율 :  1.9899
누적 청산일 :  2011-12-01 청산 종목 수 :  1 청산 수익율 :  -0.0216 누적 수익율 :  1.9469
누적 청산일 :  2012-01-03 청산 종목 수 :  1 청산 수익율 :  0.009 누적 수익율 :  1.9643
누적 청산일 :  2012-04-02 청산 종목 수 :  1 청산 수익율 :  0.5043 누적 수익율 :  2.955
누적 청산일 :  2012-06-01 청산 종목 수 :  1 청산 수익율 :  0.0514 누적 수익율 :  3.1068
누적 청산일 :  2012-07-02 청산 종목 수 :  1 청산 수익율 :  -0.0007 누적 수익율 :  3.1045
누적 청산일 :  2012-08-01 청산 종목 수 :  1 청산 수익율 :  0.0121 누적 수익율 :  3.142
누적 청산일 :  2012-10-01 청산 종목 수 :  1 청산 수익율 :  0.0913 누적 수익율 :  3.4289
누적 청산일 :  2012-11-01 청산 종목 수 :  1 청산 수익율 :  -0.0788 누적 수익율 :  3.1585
누적 청산일 :  2012-12-03 청산 종목 수 :  1 청산 수익율 :  0.0029 누적 수익율 :  3.1678
누적 청산일 :  2013-03-01 청산 종목 수 :  1 청산 수익율 :  0.0616 누적 수익율 :  3.3628
누적 청산일 :  2013-04-01 청산 종목 수 :  1 청산 수익율 :  -0.0009 누적 수익율 :  3.3598
누적 청산일 :  2013-06-03 청산 종목 수 :  1 청산 수익율 :  0.0578 누적 수익율 :  3.554
누적 청산일 :  2013-08-01 청산 종목 수 :  1 청산 수익율 :  0.145 누적 수익율 :  4.0693
누적 청산일 :  2013-10-01 청산 종목 수 :  1 청산 수익율 :  0.0755 누적 수익율 :  4.3767
누적 청산일 :  2014-01-02 청산 종목 수 :  1 청산 수익율 :  0.24 누적 수익율 :  5.427
누적 청산일 :  2014-02-03 청산 종목 수 :  1 청산 수익율 :  -0.0933 누적 수익율 :  4.9207
누적 청산일 :  2014-03-03 청산 종목 수 :  1 청산 수익율 :  0.0036 누적 수익율 :  4.9384
누적 청산일 :  2014-07-01 청산 종목 수 :  1 청산 수익율 :  0.2473 누적 수익율 :  6.1599
누적 청산일 :  2014-08-01 청산 종목 수 :  1 청산 수익율 :  -0.0762 누적 수익율 :  5.6905
누적 청산일 :  2014-09-02 청산 종목 수 :  1 청산 수익율 :  0.0799 누적 수익율 :  6.1453
누적 청산일 :  2014-10-01 청산 종목 수 :  1 청산 수익율 :  -0.0728 누적 수익율 :  5.698
누적 청산일 :  2014-11-03 청산 종목 수 :  1 청산 수익율 :  0.0025 누적 수익율 :  5.7121
누적 청산일 :  2014-12-01 청산 종목 수 :  1 청산 수익율 :  0.0564 누적 수익율 :  6.0342
누적 청산일 :  2015-01-02 청산 종목 수 :  1 청산 수익율 :  -0.0536 누적 수익율 :  5.7106
누적 청산일 :  2015-02-02 청산 종목 수 :  1 청산 수익율 :  0.0194 누적 수익율 :  5.8212
누적 청산일 :  2015-03-02 청산 종목 수 :  1 청산 수익율 :  0.0581 누적 수익율 :  6.1596
누적 청산일 :  2015-04-01 청산 종목 수 :  1 청산 수익율 :  -0.0375 누적 수익율 :  5.9287
누적 청산일 :  2015-05-01 청산 종목 수 :  1 청산 수익율 :  -0.0102 누적 수익율 :  5.8682
누적 청산일 :  2015-09-01 청산 종목 수 :  1 청산 수익율 :  0.1742 누적 수익율 :  6.8905
누적 청산일 :  2015-10-01 청산 종목 수 :  1 청산 수익율 :  0.0062 누적 수익율 :  6.9332
누적 청산일 :  2016-02-01 청산 종목 수 :  1 청산 수익율 :  0.1039 누적 수익율 :  7.6534
누적 청산일 :  2016-04-01 청산 종목 수 :  1 청산 수익율 :  0.0206 누적 수익율 :  7.8113
누적 청산일 :  2016-05-02 청산 종목 수 :  1 청산 수익율 :  -0.1486 누적 수익율 :  6.6502
누적 청산일 :  2016-06-01 청산 종목 수 :  1 청산 수익율 :  0.052 누적 수익율 :  6.9963
누적 청산일 :  2016-07-01 청산 종목 수 :  1 청산 수익율 :  -0.0261 누적 수익율 :  6.8137
누적 청산일 :  2016-08-01 청산 종목 수 :  1 청산 수익율 :  0.0001 누적 수익율 :  6.8141
누적 청산일 :  2016-10-03 청산 종목 수 :  1 청산 수익율 :  0.0668 누적 수익율 :  7.269
누적 청산일 :  2016-11-01 청산 종목 수 :  1 청산 수익율 :  -0.0613 누적 수익율 :  6.823
누적 청산일 :  2017-02-01 청산 종목 수 :  1 청산 수익율 :  0.1607 누적 수익율 :  7.9198
누적 청산일 :  2017-03-01 청산 종목 수 :  1 청산 수익율 :  0.0249 누적 수익율 :  8.117
누적 청산일 :  2017-04-03 청산 종목 수 :  1 청산 수익율 :  0.028 누적 수익율 :  8.3441
누적 청산일 :  2017-07-03 청산 종목 수 :  1 청산 수익율 :  0.0697 누적 수익율 :  8.9258
누적 청산일 :  2017-08-01 청산 종목 수 :  1 청산 수익율 :  0.0101 누적 수익율 :  9.0159
누적 청산일 :  2017-10-02 청산 종목 수 :  1 청산 수익율 :  0.0291 누적 수익율 :  9.2782
누적 청산일 :  2017-11-01 청산 종목 수 :  1 청산 수익율 :  0.0008 누적 수익율 :  9.2853
누적 청산일 :  2018-04-02 청산 종목 수 :  1 청산 수익율 :  0.2431 누적 수익율 :  11.5426
누적 청산일 :  2018-05-01 청산 종목 수 :  1 청산 수익율 :  -0.0099 누적 수익율 :  11.4279
누적 청산일 :  2018-06-01 청산 종목 수 :  1 청산 수익율 :  0.0375 누적 수익율 :  11.8561
누적 청산일 :  2018-07-02 청산 종목 수 :  1 청산 수익율 :  -0.0161 누적 수익율 :  11.6654
누적 청산일 :  2018-09-04 청산 종목 수 :  1 청산 수익율 :  0.1901 누적 수익율 :  13.8825
누적 청산일 :  2018-10-01 청산 종목 수 :  1 청산 수익율 :  -0.0048 누적 수익율 :  13.8157
누적 청산일 :  2018-12-03 청산 종목 수 :  1 청산 수익율 :  0.0011 누적 수익율 :  13.8312
누적 청산일 :  2019-01-02 청산 종목 수 :  1 청산 수익율 :  -0.1316 누적 수익율 :  12.0111
누적 청산일 :  2019-02-01 청산 종목 수 :  1 청산 수익율 :  0.0063 누적 수익율 :  12.0863
누적 청산일 :  2019-03-01 청산 종목 수 :  1 청산 수익율 :  0.028 누적 수익율 :  12.4245
누적 청산일 :  2019-05-01 청산 종목 수 :  1 청산 수익율 :  0.2032 누적 수익율 :  14.9489
누적 청산일 :  2019-06-03 청산 종목 수 :  1 청산 수익율 :  -0.1145 누적 수익율 :  13.2376
누적 수익율 :  13.2376